@import url('normalize.css');
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
	LESS must be compiled: http://lesscss.org/ 
*/
/* ==========================================================================*/
/*
 * Citizen Science Web Portal
 * Author: Sara Engelhardt
 * URI: 
 */
/* ==========================================================================
   --------------------> 0.0 TABLE OF CONTENTS <-------------------------------
   ===========================================================================
   
   0.0 General LESS Definitions
   1.0 Resets / Overrides
   		1.1 Browser Upgrade Prompt
   2.0 Links and Type
   3.0 Main Layout
   		3.1 Header / Nav Bar
   		3.2 Login
   		3.3 Footer
   4.0 Content Blocks
   		4.1 Games
   		4.2 Achievements
   		4.3 Homepage
   5.0 Profile
   6.0 Config Pages
   7.0 Forms
   8.0 Forum
   9.0 Misc
   10.0 Media Queries
   		10.1 Print Styles
   11.0 Common Classes
   		
   ========================================================================== */
/* ==========================================================================
   --------------------> 0.0 General LESS Definitions <----------------------
   ========================================================================== */
.gradients {
  background: #eaeaea;
  background: linear-gradient(top, #eaeaea, #cccccc);
  background: -o-linear-gradient(top, #eaeaea, #cccccc);
  background: -ms-linear-gradient(top, #eaeaea, #cccccc);
  background: -moz-linear-gradient(top, #eaeaea, #cccccc);
  background: -webkit-linear-gradient(top, #eaeaea, #cccccc);
}
/* ==========================================================================
   --------------------> 1.0 Resets / Overrides <----------------------------
   ==========================================================================
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   1.1 Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #cccccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   ------------------------> 2.0  Links and Type <---------------------------
   ========================================================================== */
h1,
h2,
h3,
h4,
h5 {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  margin: 0;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 0.9em;
}
h4 {
  font-size: 0.75em;
}
h5 {
  font-size: 0.6em;
}
a {
  font-weight: bold;
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: #11aa66;
}
a:hover {
  color: #33cc88;
  cursor: pointer;
}
h2 {
  padding: 2em 0 0;
}
h3 {
  padding-top: 0.8em;
}
.main-color {
  color: #11aa66 !important;
}
.second-color {
  color: #00aacc !important;
}
.third-color {
  color: #008855 !important;
}
.grey-color {
  color: #5e5e5e !important;
}
.med-color {
  color: #999999 !important;
}
/* ==========================================================================
   ------------------------> 3.0 Main Layout <-------------------------------
   * Some widths and heights set by setWidths() and setHeights() scripts.js *
   ========================================================================== */
/* ======================= Temp Home Page Styles ============================ */
.temp.content {
  padding: 0 !important;
}
/* ========================================================================== */
body {
  min-height: 100%;
  background-color: #cccccc;
}
.site-wrapper {
  font-family: Georgia,Times,Times New Roman,serif;
  background: #eaeaea;
  background: linear-gradient(top, #eaeaea, #cccccc);
  background: -o-linear-gradient(top, #eaeaea, #cccccc);
  background: -ms-linear-gradient(top, #eaeaea, #cccccc);
  background: -moz-linear-gradient(top, #eaeaea, #cccccc);
  background: -webkit-linear-gradient(top, #eaeaea, #cccccc);
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
}
button,
.button,
input.button,
a.button {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lato, sans-serif;
  text-align: center;
  color: #11aa66;
  background: transparent;
  border: 2px #11aa66 solid;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em 1.5em;
}
button:hover,
.button:hover,
input.button:hover,
a.button:hover {
  background: #11aa66;
  color: #fbfbfb;
}
.button-secondary,
input.button-secondary,
a.button-secondary {
  border: none;
}
.button-fill,
a.button-fill {
  background-color: #11aa66;
  color: #fbfbfb;
  border-color: #11aa66 !important;
}
.button-fill:hover,
a.button-fill:hover {
  background-color: #fbfbfb;
  color: #11aa66 !important;
  border-color: #fbfbfb !important;
}
.button-fill.red,
a.button-fill.red {
  color: #fbfbfb !important;
  background-color: #ee5555;
  border-color: #ee5555;
}
.button-fill.red:hover,
a.button-fill.red:hover {
  background-color: #fbfbfb !important;
  color: #ee5555 !important;
  border-color: #fbfbfb !important;
}
.button-big,
a.button-big {
  width: 100% !important;
  margin: 1em 0 !important;
  display: block;
}
.button-center {
  display: inline-block !important;
  width: 400px;
}
.button.white,
a.button.white {
  color: #11aa66;
  border-color: #fbfbfb;
  background-color: #fbfbfb;
}
.button.white:hover,
a.button.white:hover {
  background-color: #11aa66;
  border-color: #11aa66;
  color: #fbfbfb;
}
.button.red {
  color: #ee5555;
  border-color: #ee5555;
}
.button.red:hover {
  background-color: #ee5555;
  color: #fbfbfb;
}
.banner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 80%;
  height: auto;
  background-color: #3c3c3c;
  color: #fbfbfb;
  padding: 2%;
  margin: 1em 10% 2em;
}
.banner p {
  float: left;
  margin: 0 0 2% 0;
}
.banner button,
.banner a.button {
  float: right;
  font-size: .8em;
}
.banner#alert {
  padding: 10% 20% 30%;
  text-align: center;
  margin: 1em 5% 2em 15%;
}
.banner.small {
  width: 40%;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
  margin: 1em auto;
  clear: both;
}
.banner h2 {
  padding: 0;
}
.light {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
  border: solid 1px #cccccc;
  color: #3c3c3c;
  text-align: center;
  width: 100% !important;
  margin: 1em 0;
  display: inline-block;
}
.medium {
  background-color: #bbb;
  color: #3c3c3c;
}
.banner.banner-top {
  padding: 1em 40px 1em 140px;
  margin: 0;
  z-index: 0;
  background-color: #11aa66;
  color: #fbfbfb;
  width: 100%;
}
.banner.banner-top h3 {
  color: #fbfbfb;
}
.banner.banner-top hr {
  border-color: #fbfbfb;
}
.banner.banner-top a {
  color: #fbfbfb;
}
.banner.banner-top a:hover {
  text-decoration: underline;
}
.banner.banner-top a.button {
  border-color: #fbfbfb;
  margin: 1em 0 0;
  padding: .5em 1em;
}
.banner.banner-top a.button:hover {
  color: #11aa66;
  text-decoration: none;
  background-color: #fbfbfb;
}
.banner.banner-top .achievement-icon {
  background-color: #fbfbfb;
  border: none;
}
.banner.banner-top .play-button {
  width: 200px;
  font-size: 120%;
  position: absolute;
  right: 1em;
  top: 0em;
}
.bottom-banner,
.bottom-banner-fade {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 60%;
  margin: 1em 20%;
  padding: 1.25em 2em;
  position: fixed;
  z-index: 11;
  bottom: 0;
  background-color: #11aa66;
  color: #fbfbfb;
  font-family: Lato, sans-serif;
  font-weight: bold;
}
.bottom-banner a,
.bottom-banner-fade a {
  color: #fbfbfb;
  text-decoration: underline;
}
.modal,
.welcome-modal {
  position: fixed;
  z-index: 100;
  width: 50%;
  min-height: 250px;
  margin: 10% 25%;
  background-color: #eaeaea;
  padding: 2em;
  text-align: center;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.modal button,
.welcome-modal button {
  margin: 1em;
}
.modal h2,
.welcome-modal h2 {
  padding: 1em 0;
}
.modal-bg,
.welcome-modal-bg {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.content {
  min-height: 100%;
  padding: 0 40px 0 140px;
}
.content.horizontal {
  padding: 0 40px 0 100px;
}
.horizontal-content {
  display: none;
  min-height: 100%;
  height: 100%;
  padding: 0;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.horizontal-content h2 {
  font-size: 0.9em;
}
.horizontal-content h3 {
  font-size: .9em;
  text-align: center;
}
.horizontal-content .section {
  margin: 3em 0 0 0;
  height: 100%;
  width: auto;
  float: left;
}
.horizontal-content .section h2 {
  padding: 0;
}
.horizontal-content .section .block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
  height: 75%;
  width: 30%;
  overflow: hidden;
  float: left;
  margin: 20px 20px 0 0;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.horizontal-content .section .block p {
  font-size: 94%;
}
.horizontal-content .section .block img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
}
.column2 {
  width: 100%;
}
.column1 {
  width: 40%;
  padding: 0.5em 0;
}
.column1 .block {
  width: 100%;
  margin: 1% 2%;
  padding: 2%;
}
.column-wide {
  width: 60%;
  padding: 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.column_half {
  width: 50%;
  float: left;
  padding: .2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.column_half span {
  clear: both;
  display: block;
}
.column_half label {
  padding: .2em;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.center {
  text-align: center;
}
.center label {
  float: none;
  clear: none;
}
.disabled a {
  color: #bbbbbb;
}
.disabled a:hover {
  color: #bbbbbb;
  cursor: not-allowed;
}
.no-float {
  float: none !important;
}
.large {
  font-size: 150%;
}
#alert {
  z-index: 101;
  cursor: pointer;
}
p.error {
  font-size: 80%;
  font-weight: bold;
  color: #ee5555;
}
input.error,
textarea.error {
  font-weight: bold;
  color: #ee5555;
  border: 3px solid #ee5555;
}
input[type="checkbox"].error + label {
  color: #ee5555;
}
div.warning {
  clear: both;
  padding: 2em;
  background-color: rgba(255, 200, 200, 0.5);
  margin: 0 2em 1em;
  color: #ee5555;
}
hr.fat {
  border-top: 3px solid #cccccc;
  height: 3px;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
/* ======================= Icon Font ============================ */
@font-face {
  font-family: 'site_icons';
  src: url('fonts/site_icons.eot?r9n07k');
  src: url('fonts/site_icons.eot?r9n07k#iefix') format('embedded-opentype'), url('fonts/site_icons.ttf?r9n07k') format('truetype'), url('fonts/site_icons.woff?r9n07k') format('woff'), url('fonts/site_icons.svg?r9n07k#site_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="site-icon-"],
[class*=" site-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'site_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-icon-logo:before {
  content: "\e900";
}
.site-icon-home:before {
  content: "\e901";
}
.site-icon-controller:before {
  content: "\e902";
}
.site-icon-trophy:before {
  content: "\e903";
}
.site-icon-question:before {
  content: "\e904";
}
.site-icon-chat:before {
  content: "\e905";
}
.site-icon-atom:before {
  content: "\e906";
}
.site-icon-globe:before {
  content: "\e907";
}
.site-icon-beaker:before {
  content: "\e908";
}
.site-icon-pathways:before {
  content: "\e909";
}
.site-icon-robot:before {
  content: "\e90a";
}
.site-icon-microscope:before {
  content: "\e90b";
}
.site-icon-microscopePerson:before {
  content: "\e90c";
}
.site-icon-telescope:before {
  content: "\e90d";
}
.site-icon-telescopePerson:before {
  content: "\e90e";
}
.site-icon {
  font-size: 30pt;
}
/* ==========================================================================
   3.1 Header / Nav Bar
   ========================================================================== */
header {
  background-color: #fbfbfb;
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 100px;
  padding: 0;
  float: left;
}
header h1 {
  font-size: 13pt;
  padding: 10px 10px 0;
}
header h1 a {
  color: #3c3c3c;
}
header h1 a:hover {
  color: #5e5e5e;
}
header .logo {
  width: 90px;
  margin: -20px 0 0 30px;
}
#sgl-logo {
  width: 100%;
  clear: both;
  position: relative;
  top: inherit;
  left: inherit;
  transform: none;
}
nav {
  width: 100px;
  height: 50%;
  margin-top: 150px;
  position: fixed;
  z-index: 11;
}
nav .menu {
  min-height: 100%;
  height: 100%;
  padding-bottom: 2em;
}
nav ul {
  height: 100%;
  min-height: 250px;
  list-style: none;
  padding: 0 0 0 1em;
}
nav ul li {
  float: left;
  clear: left;
}
nav ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
}
.nav-icon {
  font-size: 46pt;
  color: #666;
  display: block;
}
.nav-icon:hover,
.nav-icon:active {
  color: #11aa66;
}
.nav-icon span {
  display: none;
}
.toggle {
  text-decoration: none;
  color: #fbfbfb;
  background: #11aa66;
  text-align: center;
  padding: 0;
  display: none;
}
#toggle {
  display: none;
}
/* ==========================================================================
   3.2 Login
   ========================================================================== */
.account-buttons {
  display: block;
  width: 100px;
  z-index: 11;
  position: fixed;
  left: 0;
  bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fbfbfb;
}
.account-buttons button,
.account-buttons a {
  width: 80%;
  margin: 5px 10%;
  font-size: 90%;
  border: none;
  padding: 0;
}
.account-buttons button:hover,
.account-buttons a:hover {
  background-color: initial;
  color: #33cc88;
}
.login-wrapper {
  display: none;
  margin: 0 0 0 100px;
  height: 100%;
  width: 350px;
  z-index: 9;
  position: fixed;
  top: 0;
}
.login-box,
.signup-box {
  font-size: 80%;
  z-index: 9;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #fbfbfb;
  background: #3c3c3c;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 2em;
}
.login-box p,
.signup-box p {
  margin: .5em 0;
}
.login-box form,
.signup-box form {
  width: 100%;
  padding: 0 10%;
}
.login-box input,
.signup-box input {
  background-color: #d9d9d9;
}
.login-box input[type="checkbox"],
.signup-box input[type="checkbox"] {
  float: left;
}
.login-box input[type="checkbox"] + label,
.signup-box input[type="checkbox"] + label {
  clear: none;
}
.signup-box {
  overflow-y: scroll;
}
.benefits {
  color: #aaaaaa;
}
.signup-icon {
  font-size: 35pt;
  color: #aaaaaa;
  float: left;
}
.signup-icon + h4 {
  margin: 16px 0 0;
  float: left;
}
.close {
  position: absolute;
  top: 1em;
  right: 1em;
}
.login-page {
  position: fixed;
  background-color: #3c3c3c;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.login-page .login-wrapper {
  display: block;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
}
.login-page .login-box,
.login-page .signup-box {
  width: 60%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  overflow-y: initial;
}
.login-page .signup-box > .panel {
  margin-bottom: 1.3em;
}
.login-page .close {
  display: none;
}
/* ==========================================================================
   3.3 Footer
   ========================================================================== */
.footer {
  text-align: right;
  width: 100%;
  position: relative;
  padding: 8em 0 5%;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.footer ul li {
  display: inline;
}
.footer ul li a {
  color: #3c3c3c;
}
.footer ul li a:hover {
  color: #11aa66;
}
.about-us {
  text-align: right;
  width: 250px;
  height: 100%;
  min-height: 100%;
  background: #fbfbfb;
  float: right;
  position: relative;
}
.about-us h2 {
  margin: 3em 30px 0 0;
  text-align: right;
  font-size: 1.2em;
  padding: 1em 0 0;
}
.about-us p {
  padding: 10% 30px;
}
.about-us a.button {
  margin: 30px;
}
.about-us .footer {
  position: absolute;
  bottom: 5%;
  padding: 0 .75em;
}
/* ==========================================================================
   ------------------------> 4.0 Content Blocks <----------------------------
   ========================================================================== */
/* ==========================================================================
   4.1 Games
   ========================================================================== */
/********* Homepage blocks ***********/
.game-block h3,
.dashboard-block h3,
.spotlight-block h3 {
  font-size: .9em;
  text-align: center;
  padding: 3%;
}
.game-block span,
.dashboard-block span,
.spotlight-block span {
  text-transform: uppercase;
  font: bold 1em Lato, sans-serif;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 1em;
  margin: 0;
  color: #fbfbfb;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 6;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.game-block div,
.dashboard-block div,
.spotlight-block div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fbfbfb;
  position: relative;
  z-index: 5;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: #11aa66;
  display: block;
  margin: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30% 5% 0 5%;
}
.game-block div button,
.dashboard-block div button,
.spotlight-block div button,
.game-block div a.button,
.dashboard-block div a.button,
.spotlight-block div a.button {
  margin: 20px auto;
  width: 60%;
  color: #fbfbfb;
  border-color: #fbfbfb;
  display: block;
}
.game-block div button:hover,
.dashboard-block div button:hover,
.spotlight-block div button:hover,
.game-block div a.button:hover,
.dashboard-block div a.button:hover,
.spotlight-block div a.button:hover {
  background-color: #fbfbfb;
  color: #11aa66;
}
.game-block,
.dashboard-block,
.spotlight-block {
  padding: 0 !important;
}
.game-block div:hover {
  opacity: 1;
}
.game-block div:hover + span {
  background: transparent;
}
/********* Game Info Page ***********/
.game-title-bg {
  width: 100%;
  height: 250px;
  background-color: #007744;
  position: absolute;
  overflow: hidden;
}
.game-title-bg img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
.game-title-wrapper {
  height: 190px;
  color: #fbfbfb;
  font-size: 150%;
  position: relative;
}
.game-title-wrapper h1 {
  margin-top: 1.7em;
}
.game-title-wrapper a.button,
.game-title-wrapper button,
.game-title-wrapper input.button {
  position: absolute;
  right: 0;
  top: 0;
  border-color: #fbfbfb;
  color: #fbfbfb;
}
.game-title-wrapper a.button:hover,
.game-title-wrapper button:hover,
.game-title-wrapper input.button:hover {
  background-color: #fbfbfb;
  color: #3c3c3c;
}
#game_short {
  font-size: 125%;
  text-transform: initial;
  padding-top: 0.4em;
}
.leaderboard {
  margin-top: .5em;
}
.leaderboard .panel {
  background-color: #eaeaea;
  border-bottom: 2px solid #cccccc;
  padding: .2em .5em;
}
.leaderboard .panel.odd {
  background-color: #fbfbfb;
}
.leaderboard .panel.myscore {
  background-color: #99ccaa;
}
/********* In Game Page ***********/
#game_iframe {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#iframe_overlay {
  position: absolute;
  background-color: #000;
  opacity: 0;
}
#game_hud {
  width: 100%;
  height: 150px;
  background-color: #3c3c3c;
  color: #eaeaea;
  position: fixed;
  bottom: 0;
  font-size: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#game_hud #back_container {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  width: 95px;
  height: 150px;
  border-left: 2px solid #4d4d4d;
  background-color: #3c3c3c;
}
#game_hud #back_container a.button {
  margin: 40px 1em 0;
}
#game_hud #back_container .arrow-down {
  width: 0;
  height: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 0.75em solid #5e5e5e;
  cursor: pointer;
  margin: 10px auto;
}
#game_hud #profilePanel {
  width: 160px;
  height: 150px;
  position: fixed;
  z-index: 10;
  border-right: 2px solid #4d4d4d;
  background-color: #3c3c3c;
  bottom: 0;
  left: 0;
}
#game_hud #profilePanel .inner {
  padding: 10px;
}
#game_hud #profilePanel .profile-icon.sm {
  margin: .3em;
  border-color: #cccccc;
}
#game_hud #profilePanel h3 {
  padding: 0;
}
#game_hud #profilePanel h2 {
  padding: 0;
  margin-bottom: 0.3em;
}
#game_hud #profilePanel #dev_link,
#game_hud #profilePanel #admin_link {
  display: none;
}
#game_hud #profilePanel #anon-signup-link {
  position: relative;
  text-transform: uppercase;
  padding-left: .5em;
}
#game_hud #hud_container {
  position: absolute;
  left: 160px;
}
#game_hud #hud_container .top-tabs {
  padding: 0;
  background-color: #3c3c3c;
  position: absolute;
  z-index: 1;
  width: 80%;
  top: 0;
}
#game_hud #hud_container .top-tabs div a {
  color: #cccccc;
  border-right: none;
  font-size: 90%;
  padding: .5em 0;
}
#game_hud #hud_container .top-tabs div a:hover {
  box-shadow: inset 0 4px 0 #11aa66;
}
#game_hud #hud_container .top-tabs div.current a {
  box-shadow: inset 0 4px 0 #11aa66;
}
#game_hud #hud_container #target-activity_feed {
  background-color: #3c3c3c;
  display: block;
  padding: 10px;
  max-height: 120px;
  width: 100%;
  overflow-y: scroll;
  margin-top: 20px;
}
#game_hud #hud_container #target-activity_list {
  position: absolute;
  padding: 0 20px;
  z-index: 0;
  top: 33px;
  overflow-x: scroll;
}
#game_hud #hud_container #target-activity_list .next-quest {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 60px solid #11aa66;
}
#game_hud #hud_container #target-activity_list .next-quest > span {
  position: absolute;
  margin-top: -18px;
  margin-left: -55px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 80%;
  font-weight: bold;
  cursor: pointer;
}
#game_hud #hud_container #target-activity_list .next-quest.locked {
  border-left: 60px solid #444;
}
#game_hud #hud_container #target-activity_list .next-quest.locked > span {
  cursor: default;
}
#game_hud #hud_container #target-activity_list .block {
  max-width: 120px;
  float: left;
  padding: 0px 10px 5px;
  background-color: #444;
  border: 1px solid #555;
  margin-bottom: .5em;
  height: 94px;
}
#game_hud #hud_container #target-activity_list .block img {
  width: 45px;
  height: 45px;
}
#game_hud #hud_container #target-activity_list .block span.right {
  max-width: 50%;
}
#game_hud #hud_container #target-activity_list .block h2 {
  padding: 0.5em;
  display: inline;
}
#game_hud #hud_container #target-activity_list .block h3 {
  height: 37px;
}
#game_hud #hud_container #target-activity_list .block a.button {
  float: left;
  max-width: 40%;
  padding: .5em;
}
#game_hud #hud_container #target-activity_list .block a.button:hover {
  background: none;
  color: #33cc88;
}
#game_hud #hud_container #target-activity_list .block div.truncate {
  line-height: 1.2em;
  height: 3em;
  overflow: hidden;
}
#game_hud #hud_container #target-activity_list .block.quest-block {
  background-color: #3c3c3c;
}
#game_hud #hud_container #target-activity_list .block.quest-block h3 {
  padding-top: 0.4em;
}
#game_hud #hud_container #target-activity_list .block.criteria-block h3 {
  padding-top: 0.4em;
}
#game_hud #hud_container #target-activity_list .stats-icon.locked > div {
  width: 45px;
  height: 45px;
  background-color: #3e3e3e;
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
  position: absolute;
}
#game_hud #hud_container #target-activity_list #criteria_list {
  padding-right: 4em;
}
#hud_min {
  font-size: 80%;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #3c3c3c;
}
#hud_min #profile_min {
  padding: 5px;
  width: 160px;
}
#hud_min #profile_min h3 {
  padding: 0;
  color: #eaeaea;
}
#hud_min #activity_feed_min {
  color: #eaeaea;
  position: absolute;
  bottom: 10px;
  left: 160px;
  z-index: 10;
}
#hud_min .arrow_container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
  padding: 10px;
}
#hud_min .arrow-up {
  width: 0;
  height: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-bottom: 0.75em solid #5e5e5e;
  cursor: pointer;
  margin: 10px auto;
}
#target-activity_feed div,
#activity_feed_min div {
  min-height: 35px;
}
#target-activity_feed .stats-icon,
#activity_feed_min .stats-icon {
  width: 30px;
  height: 30px;
  background-color: inherit;
}
#target-activity_feed .stats-icon.empty,
#activity_feed_min .stats-icon.empty {
  background-color: initial;
  border: none;
}
#target-activity_feed .stats-icon img,
#activity_feed_min .stats-icon img {
  width: 100%;
}
#target-activity_feed h3,
#activity_feed_min h3 {
  margin-left: 35px;
  margin-top: -35px;
  text-transform: none;
}
.modal.end-game h1 {
  font-size: 250%;
  color: #11aa66;
  padding: 0;
}
.modal.end-game h2 {
  padding: 0;
  font-size: 160%;
}
.modal.end-game h3 {
  font-size: 125%;
}
.modal.end-game h4 {
  font-size: 90%;
}
.modal.end-game .delta {
  font-size: 150%;
  position: absolute;
  margin-left: 2.5em;
  margin-top: -1.5em;
}
.modal.end-game .panel.banner.light {
  max-height: 150px;
  overflow-y: scroll;
}
.modal.end-game #badgeZone .half.panel {
  padding: 7px;
  font-size: smaller;
}
.modal.end-game #badgeZone .stats-icon {
  background: #cccccc;
  border: 1px solid #b7b7b7;
  width: 30px;
  height: 30px;
  float: left;
}
.modal.end-game #badgeZone .stats-icon img {
  width: 100%;
}
/* ==========================================================================
   4.2 Achievements
   ========================================================================== */
.achievement-block,
.featured-achievement .banner {
  color: #fbfbfb;
  background-color: #3c3c3c;
}
.achievement-block h3,
.featured-achievement .banner h3 {
  color: #fbfbfb;
}
.achievement-icon {
  position: relative;
  width: 46px;
  height: 46px;
  border: 2px solid #cccccc;
  float: left;
  margin: 0 1em .5em 0;
}
.achievement-icon.locked > div {
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
  position: absolute;
}
.achievement-icon.empty {
  border: none;
}
.achievement-icon + h3 {
  text-align: left;
  padding-top: 0;
}
.achievement-icon img {
  width: 100%;
}
h3.achievement-title {
  padding: 0.8em 0;
  color: #3c3c3c;
}
.achievement-list .block {
  border-bottom: solid 2px #cccccc;
  background-color: initial;
  color: #3c3c3c;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  float: left;
  padding: .3em;
  width: 100%;
}
.achievement-list .block .game-title {
  position: absolute;
  right: 10px;
  top: 5px;
  margin-bottom: 10px;
}
.achievement-list .block p {
  font-size: 90%;
  float: left;
  clear: left;
  margin: 2% 0 2% 0;
}
.achievement-list .block button,
.achievement-list .block a.button {
  padding: 1%;
  float: right;
  font-size: .8em;
}
.quest-block.open {
  background-color: #fbfbfb !important;
}
.quest-block h3.achievement-title {
  padding: 0em 0 .4em;
  color: #3c3c3c;
  width: 64%;
  max-width: 450px;
}
.quest-block .game-title {
  width: 25%;
}
.quest-block .progress {
  margin: 0 0 0 4em !important;
  height: 15px !important;
  padding: .2em !important;
}
.quest-block .progress > span {
  background-color: #33cc88;
}
.quest-block + .show_panel {
  clear: both;
  background-color: initial !important;
  padding: 0;
}
.quest-block + .show_panel .block {
  background-color: #eaeaea;
  width: 100% !important;
  margin: 0.2em 0;
  border-bottom: none;
}
.quest-block .panel p,
.quest-block .panel span {
  margin-left: .4em;
}
.gold {
  background-color: #ffcc44 !important;
}
/* ==========================================================================
   4.3 Homepage
   ========================================================================== */
#dashboard .dashboard-block,
#spotlight .dashboard-block,
#dashboard .spotlight-block,
#spotlight .spotlight-block {
  background-color: #fbfbfb;
  padding: 0em !important;
}
#dashboard .dashboard-block h2,
#spotlight .dashboard-block h2,
#dashboard .spotlight-block h2,
#spotlight .spotlight-block h2,
#dashboard .dashboard-block h3,
#spotlight .dashboard-block h3,
#dashboard .spotlight-block h3,
#spotlight .spotlight-block h3,
#dashboard .dashboard-block h4,
#spotlight .dashboard-block h4,
#dashboard .spotlight-block h4,
#spotlight .spotlight-block h4,
#dashboard .dashboard-block h5,
#spotlight .dashboard-block h5,
#dashboard .spotlight-block h5,
#spotlight .spotlight-block h5,
#dashboard .dashboard-block p,
#spotlight .dashboard-block p,
#dashboard .spotlight-block p,
#spotlight .spotlight-block p {
  color: #3c3c3c !important;
}
#dashboard .dashboard-block hr,
#spotlight .dashboard-block hr,
#dashboard .spotlight-block hr,
#spotlight .spotlight-block hr {
  border-top: 1px solid #ddd;
}
#dashboard .dashboard-block h1,
#spotlight .dashboard-block h1,
#dashboard .spotlight-block h1,
#spotlight .spotlight-block h1 {
  padding: .1em;
}
#dashboard .dashboard-block h2,
#spotlight .dashboard-block h2,
#dashboard .spotlight-block h2,
#spotlight .spotlight-block h2 {
  font-size: 130%;
  padding-top: .4em;
}
#dashboard .dashboard-block h3,
#spotlight .dashboard-block h3,
#dashboard .spotlight-block h3,
#spotlight .spotlight-block h3 {
  font-size: 110%;
}
#dashboard .dashboard-block h4,
#spotlight .dashboard-block h4,
#dashboard .spotlight-block h4,
#spotlight .spotlight-block h4 {
  padding: 0.3em;
}
#dashboard .dashboard-block h4.right,
#spotlight .dashboard-block h4.right,
#dashboard .spotlight-block h4.right,
#spotlight .spotlight-block h4.right {
  padding-right: 1.5em !important;
}
#dashboard .dashboard-block div,
#spotlight .dashboard-block div,
#dashboard .spotlight-block div,
#spotlight .spotlight-block div {
  opacity: 1;
  background-color: transparent;
  padding: 0;
  position: relative;
  height: auto;
}
#dashboard .dashboard-block span,
#spotlight .dashboard-block span,
#dashboard .spotlight-block span,
#spotlight .spotlight-block span {
  width: auto;
  padding: 0;
  background-color: transparent;
}
#dashboard .dashboard-block button,
#spotlight .dashboard-block button,
#dashboard .spotlight-block button,
#spotlight .spotlight-block button,
#dashboard .dashboard-block a.button,
#spotlight .dashboard-block a.button,
#dashboard .spotlight-block a.button,
#spotlight .spotlight-block a.button {
  margin: 1em auto;
  padding: 0.3em 0.9em;
}
#dashboard .dashboard-block img,
#spotlight .dashboard-block img,
#dashboard .spotlight-block img,
#spotlight .spotlight-block img {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
}
#dashboard .dashboard-block img.profile-icon,
#spotlight .dashboard-block img.profile-icon,
#dashboard .spotlight-block img.profile-icon,
#spotlight .spotlight-block img.profile-icon {
  height: 50px;
  width: 50px;
}
#dashboard .dashboard-block img.feed-icon,
#spotlight .dashboard-block img.feed-icon,
#dashboard .spotlight-block img.feed-icon,
#spotlight .spotlight-block img.feed-icon {
  height: 30px;
  width: 30px;
  padding: 0 .3em;
}
#dashboard .dashboard-block .block-list,
#spotlight .dashboard-block .block-list,
#dashboard .spotlight-block .block-list,
#spotlight .spotlight-block .block-list {
  margin: .5em 6%;
  border: solid 1px #ddd;
  width: 88%;
  padding: 0.5em;
}
.spotlight-block .block {
  padding: .5em !important;
}
.spotlight-block .panel {
  margin: .5em .25em 0;
}
.spotlight-block .panel.padded {
  padding: 1.5em;
}
.splash-block {
  color: #fbfbfb;
  background: #008855;
  font-family: lato, sans-serif;
  text-align: center;
  padding: 3em !important;
  margin: 0 3em 0 0 !important;
  height: 100%;
  z-index: 0;
}
.splash-block > img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100% !important;
  height: auto !important;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: -1;
}
.splash-block h3 {
  font-size: 1.5em;
  font-weight: normal;
}
.splash-block hr {
  border-top: 2px solid #11aa66;
}
.splash-block a {
  color: #fbfbfb;
}
.splash-block a:hover {
  color: #33cc88;
}
.splash-block a.button,
.splash-block .button {
  padding: .5em 2em;
  margin: .5em;
}
.section.splash {
  margin: 0 !important;
  padding: 0 !important;
}
.section#deleted {
  margin-left: -186px;
}
.top {
  z-index: 10;
}
.dark {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
}
.content.temp .splash-block {
  margin: 0 !important;
}
/* ==========================================================================
   ----------------------------> 5.0 Profile <-------------------------------
   ========================================================================== */
.profile .profile-title {
  word-wrap: break-word;
}
.profile .profile-title h2 {
  font-size: 150%;
}
.profile .profile-title .location {
  padding: .5em 0;
}
.profile .profile-title .location span {
  padding-right: .5em;
}
.profile .score-block {
  float: left;
  width: 50%;
  min-width: 7.3em;
}
.profile .score-block .score {
  font-family: Lato, sans-serif;
  font-size: 300%;
  font-weight: bold;
  margin: 0;
}
.profile .button {
  padding: .3em;
  margin: 1em;
}
.profile .bio {
  float: left;
  margin: 1em 0;
}
.profile .column1 {
  width: 30%;
}
.profile .column-wide {
  width: 70%;
  padding: 0.5em 1em;
}
.nav-tabs {
  text-transform: uppercase;
  font-weight: bold;
  padding: 2em 0;
}
.nav-tabs div a {
  color: #3c3c3c;
  padding: 1em;
  border-bottom: 1px solid #cccccc;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  transition: box-shadow 0.3s, color 0.3s;
}
.nav-tabs div a:hover {
  color: #11aa66;
  cursor: pointer;
  box-shadow: inset 5px 0 0 #11aa66;
}
.nav-tabs div.current a {
  box-shadow: inset 5px 0 0 #11aa66;
}
.nav-tabs .back a {
  color: #008844;
  font-size: 85%;
  border: none;
}
.nav-tabs .back a:hover {
  box-shadow: none;
}
.nav-tabs .disabled a {
  color: #cccccc;
}
.nav-tabs .disabled a:hover {
  box-shadow: none;
  color: #cccccc;
  cursor: not-allowed;
}
.top-tabs {
  padding: 2em 0;
}
.top-tabs div {
  padding: 0 !important;
}
.top-tabs div a {
  padding: 1em;
  border-right: 1px solid #cccccc;
  border-bottom: 0 !important;
}
.top-tabs div a:hover {
  box-shadow: inset 0 5px 0 #11aa66;
}
.top-tabs div.current a {
  box-shadow: inset 0 5px 0 #11aa66;
}
.profile-icon {
  background-color: #cccccc;
  border: 1px solid #b7b7b7;
}
.profile-icon a {
  margin: 0 !important;
  padding: 0 !important;
}
.profile-icon.sm {
  width: 65px;
  height: 65px;
  margin: 0 17px .3em;
}
.profile-icon.sm img {
  width: 100%;
}
.profile-icon.lg {
  width: 150px;
  height: 150px;
}
.profile-icon.lg img {
  width: 100%;
}
.activity-feed,
.stats-block {
  width: 100%;
  float: left;
}
.activity-feed h2,
.stats-block h2 {
  font-size: 110%;
}
.activity-feed div,
.stats-block div {
  margin: .5em;
}
.activity-feed .stats-icon,
.stats-block .stats-icon {
  background: #cccccc;
  border: 1px solid #b7b7b7;
  width: 30px;
  height: 30px;
  margin: 7px;
  float: left;
}
.activity-feed .stats-icon img,
.stats-block .stats-icon img {
  width: 100%;
}
.activity-feed .stats-icon.empty,
.stats-block .stats-icon.empty {
  background: initial;
  border: none;
}
.progress {
  margin: .5em 0;
  height: 20px;
  position: relative;
  border: #cccccc 1px solid;
  background-color: #d5d5d5;
  padding: .3em;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  text-align: center;
}
.progress > span {
  display: block;
  height: 100%;
  background-color: #11aa66;
  position: relative;
  overflow: hidden;
}
.progress h4 {
  margin: -15px 0;
  position: relative;
}
#badgesZone .block {
  width: 33%;
  padding: 0;
  text-align: center;
}
#badgesZone .block button.badge-button {
  border: none;
  width: 100%;
  min-height: 190px;
  font-size: inherit;
  padding: .5em;
}
#badgesZone .block button.badge-button:hover {
  background-color: #fbfbfb;
}
#badgesZone .block .achievement-icon {
  float: none;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}
#badgesZone .block .game-title {
  position: relative;
  right: initial;
  top: initial;
  margin: .3em 0;
  color: #3c3c3c !important;
}
.modal.badge-info {
  margin: 0;
  padding: 2em;
  min-height: 7em;
  text-align: left;
}
.modal.badge-info .achievement-icon {
  width: 75px;
  height: 75px;
}
.modal.badge-info h2 {
  padding: 0 0 .5em;
}
.modal.badge-info .button.button-secondary {
  margin: 0;
  bottom: 1em;
  right: 1em;
  position: absolute;
}
.modal.badge-info .remove {
  position: absolute;
  right: 1em;
  top: 1em;
}
#achievement-progressbar {
  max-width: 100% !important;
}
#edit-profile-button,
#dev-profile-button,
#admin-profile-button {
  display: block;
}
/* ==========================================================================
   ---------------------> 6.0 Config Pages <-------------------------------
   ========================================================================== */
.panel {
  float: left;
  width: 100%;
}
.panel input {
  float: none;
  clear: none;
  margin: .3em;
}
.panel select {
  margin: .5em;
}
.panel span.response {
  float: right;
}
.panel button,
.panel .button {
  padding: .5em .2em;
  display: block;
  width: auto;
}
.panel .clear {
  clear: both;
  display: block;
}
.panel h1 {
  padding: 1.5em 0 0;
  text-align: center;
}
.half.panel {
  width: 50%;
  padding: 0 .2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.third.panel {
  width: 33%;
  padding: 0 .2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.center.panel {
  text-align: center;
}
.heading.panel {
  color: #11aa66;
  border-bottom: 2px solid #fbfbfb;
  font-family: Lato, san-serif;
  text-transform: uppercase;
}
#questZone .heading.panel {
  width: 90%;
}
#game_list {
  padding: 1em 0;
}
.block-list {
  background-color: #fbfbfb;
  margin: 1em 0;
}
.block-list button,
.block-list .button,
.block-list .button-secondary {
  margin: 1em .5em;
}
.block-list .button-secondary.small {
  margin: 1.5em .5em;
}
.block-list label {
  font-family: lato, san-serif;
  text-transform: uppercase;
  margin-top: 1em;
}
.block-list button.inline-button {
  margin: 1em;
}
.block-list .title {
  display: inline;
  float: left;
  width: 55%;
  padding: 1em 0 1em .5em;
}
.block-list img {
  width: 75px;
  height: 75px;
}
.small {
  margin: 1em;
  font-size: 80% !important;
}
.smaller {
  margin: 1em;
  font-size: 70% !important;
}
/* =================== Dev Game Updating ======================= */
#target-gamedata,
#target-actions,
#target-images,
#target-status {
  padding-top: 2.5em;
}
.sticky {
  position: fixed;
  top: 0;
}
.sticky.button {
  margin: .5em 0;
  background-color: #eaeaea;
}
.sticky.button:hover {
  background-color: #11aa66;
}
.sticky.button:hover a {
  color: #fbfbfb;
}
.sticky.button.red:hover {
  background-color: #ee5555;
}
.sticky.right {
  right: 50px;
}
.stickybar {
  background-color: #eaeaea;
  position: fixed;
  width: 100%;
  height: 42px;
  left: 0;
  top: 0;
  opacity: 1.0;
}
.icon-wrapper {
  padding: 1em 1em 0 1em;
  float: left;
}
.image_preview {
  max-width: 100%;
  clear: both;
  border: solid 2px #cccccc;
  margin: 1em auto;
  display: block;
}
.file_name {
  display: none;
}
#actionZone input {
  float: left;
}
#gamesZone .panel,
#gamesZone .show-panel {
  font-size: 92%;
}
#gamesZone .panel label,
#gamesZone .show-panel label {
  font-weight: bold;
}
#gamesZone .panel span,
#gamesZone .show-panel span {
  font-weight: normal;
}
.criteria .panel.block-list {
  margin: .5em 0;
  padding: .5em;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.criteria .panel.block-list span {
  text-transform: uppercase;
  font-size: 120%;
  font-family: Lato, sans-serif;
}
.criteria .arrow-buttons {
  margin: .5em 0;
  padding: .3em .5em;
}
.criteria .arrow-up {
  margin-bottom: .6em;
}
.bold {
  font-weight: bold;
  text-transform: capitalize;
}
.ban-hammer {
  font-size: 1.5em;
  display: inline-block;
  width: 0.8em;
  height: 0.45em;
  border: 0.1em solid #11aa66;
  position: relative;
  border-radius: 0.1em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin: 0 .3em;
}
.ban-hammer::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0.1em;
  bottom: -0.4em;
  border-width: 0;
  background: #11aa66;
  width: 0.6em;
  height: 0.2em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
button:hover .ban-hammer,
input.button:hover .ban-hammer,
a.button:hover .ban-hammer {
  border: 0.1em solid #fbfbfb;
}
button:hover .ban-hammer::before,
input.button:hover .ban-hammer::before,
a.button:hover .ban-hammer::before {
  background: #fbfbfb;
}
/* ==========================================================================
   --------------------------> 7.0 Forms <-----------------------------------
   ========================================================================== */
form,
#signupForm,
#loginForm {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form button,
#signupForm button,
#loginForm button,
form input.button,
#signupForm input.button,
#loginForm input.button {
  margin: 1em auto;
  width: 50%;
  padding: .5em;
}
label {
  float: left;
  clear: left;
  padding: .25em;
  font-size: 13px;
  margin: .5em;
}
input,
textarea {
  float: left;
  clear: left;
  color: #3c3c3c;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  background-color: #fbfbfb;
  margin: .5em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
}
input:hover,
textarea:hover {
  background: #fbfbfb;
}
input:focus,
textarea:focus {
  background: #fbfbfb;
  box-shadow: 0;
  border: 3px solid #11aa66;
  color: #11aa66;
  outline: none;
}
input:disabled {
  background-color: #eaeaea;
}
input[type="file"] {
  width: auto;
  background-color: inherit;
  float: left;
  clear: left;
}
select {
  margin: .5em;
}
select:disabled {
  color: #aaaaaa;
  background-color: #d9d9d9;
  cursor: not-allowed;
}
.long-input {
  width: 70%;
}
.med-input {
  width: 30%;
}
.short-input {
  width: 10%;
}
.date-input {
  width: 10%;
}
textarea {
  min-height: 60px;
}
input[type="checkbox"] {
  width: auto;
  margin: .75em 0;
}
hr {
  clear: both;
}
p {
  clear: both;
}
select {
  background-color: #eaeaea;
  border: #cccccc 1px solid;
}
select option {
  border-bottom: 1px solid #cccccc;
}
button.inline-button,
.button.inline-button {
  width: auto;
  float: left;
  margin: .5em;
  font-size: 70%;
}
a.inline-button {
  padding-left: 1em;
  font-size: 65%;
}
.inline-input {
  float: left !important;
  clear: none;
}
.inline-input label {
  padding: 0;
  margin: .5em 0;
}
.filters {
  border-bottom: #cccccc 2px solid;
  padding: 1%;
}
.filters label {
  float: none;
  clear: none;
}
.filters.inline-filters div.right {
  text-align: right;
}
.filters.inline-filters div.left {
  text-align: left;
}
#icon_select {
  clear: left;
}
#icon_select .selected-box {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 82px;
  height: 82px;
  border: #cccccc 2px solid;
}
#icon_select .selected-box:hover {
  border: #11aa66 2px solid;
}
#icon_select .selected-icon {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 5px;
  left: 5px;
  width: 72px;
  height: 72px;
}
#icon_select .component-icon {
  position: absolute;
  bottom: 5px;
  right: 4px;
}
#icon_select .box {
  position: absolute;
  top: 0px;
  left: 71px;
  margin: 0px;
  padding: 0px;
  width: 170px;
  height: 170px;
  background-color: #eaeaea;
  border: 1px solid #cccccc;
  overflow: auto;
}
#icon_select .icon {
  position: relative;
  margin: 5px 0px 0px 5px;
  padding: 0px;
  width: 72px;
  height: 72px;
  border: 2px solid #cccccc;
  background-color: #FFFFFF;
  overflow: hidden;
  float: left;
}
#icon_select .icon:hover {
  border: 2px solid #11aa66;
}
#icon_select .icon.selected {
  border: 2px solid #33cc88;
  background-color: #33cc88;
}
.modal#dev_signup,
.modal#bug_report {
  margin-top: 2em;
  max-height: 560px;
  overflow-y: scroll;
}
.modal#dev_signup h2,
.modal#bug_report h2 {
  padding: 0 0 .5em;
}
.modal#dev_signup .remove,
.modal#bug_report .remove {
  position: absolute;
  right: 1em;
  top: 1em;
}
.modal#dev_signup label,
.modal#bug_report label {
  max-width: 110px;
  text-align: left;
}
/* ==========================================================================
   --------------------------> 8.0 Forum <-----------------------------------
   ========================================================================== */
.right.back {
  position: absolute;
  top: 2em;
  right: 2em;
}
.breadcrumbs a {
  padding: 0 .25em;
  max-width: 30%;
  display: inline-block;
}
.breadcrumbs a:after {
  content: " ...";
}
.block.category-block,
.block.forum-block,
.block.thread-block,
.block.post-block {
  /*
   		.title {
			text-transform: uppercase;
		}
		.description {
		   padding: .5em;
	   }
	   .owner {
		   padding: .5em;
	   }
*/
}
.block.category-block {
  border: 2px solid #cccccc;
  margin: 1em;
}
.block.category-block .title {
  background-color: #11aa66;
  padding: .5em;
  color: #fbfbfb;
}
.block.category-block .title h3 {
  padding: 0;
}
.block.category-block .title .description {
  font-weight: bold;
  font-size: 90%;
  text-transform: none;
}
.block.forum-block {
  border-bottom: 2px solid #cccccc;
  padding: .5em;
}
.block.forum-block h3 {
  padding: .3em .5em 0;
  color: #11aa66;
}
.block.forum-block h3 a:hover {
  text-decoration: underline;
}
.block.forum-block .description {
  font-size: 85%;
  padding: 0 .5em .5em;
}
.block.forum-block .forum-buttons {
  display: inline-block;
  float: right;
  clear: right;
}
.block.forum-block .forum-buttons .button {
  padding: .25em .5em;
  border: none;
}
.block.forum-block.locked,
.block.forum-block.hidden {
  color: #aaaaaa;
  background-color: #eaeaea;
  display: block !important;
}
.block.forum-block.locked h3 a,
.block.forum-block.hidden h3 a {
  color: #999999;
}
.block.thread-block {
  border-bottom: 2px solid #cccccc;
  padding: 1em;
}
.block.thread-block h3 {
  padding: 0;
  float: left;
  clear: both;
  max-width: 70%;
}
.block.thread-block h3 > a:hover {
  text-decoration: underline;
}
.block.thread-block .forum-buttons {
  display: inline-block;
  float: right;
  clear: right;
}
.block.thread-block .forum-buttons .button {
  padding: .25em .5em;
  border: none;
}
.block.thread-block .info.right {
  text-align: right;
  clear: right;
  margin-top: -1.75em;
}
.block.thread-block .thread-preview {
  max-width: 70%;
  clear: left;
}
.block.thread-block.locked,
.block.thread-block.hidden {
  color: #aaaaaa;
  background-color: #eaeaea;
  display: block !important;
}
.block.thread-block.locked .title,
.block.thread-block.hidden .title {
  color: #999999;
}
.block.post-block {
  border-bottom: 2px solid #cccccc;
  padding: 1em;
}
.block.post-block h3 {
  padding: 0;
}
.block.post-block h3 a:hover {
  text-decoration: underline;
}
.block.reply-block,
.block.op-block {
  border-bottom: 2px solid #cccccc;
  padding: 1em;
}
.block.reply-block h3,
.block.op-block h3 {
  padding: 0;
}
.block.reply-block h3 a:hover,
.block.op-block h3 a:hover {
  text-decoration: underline;
}
.block.reply-block .owner,
.block.op-block .owner {
  width: 110px;
  padding-right: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  word-break: break-all;
  font-size: 85%;
}
.block.reply-block .owner img,
.block.op-block .owner img {
  width: 80px;
  height: 80px;
  clear: left;
  float: left;
}
.block.reply-block .owner span,
.block.op-block .owner span {
  float: left;
  margin-bottom: .5em;
}
.block.op-block {
  background-color: #fbfbfb;
  margin-top: 1em;
}
/* ==========================================================================
   --------------------------> 9.0 Misc <------------------------------------
   ========================================================================== */
.twitter-icon {
  width: 40px;
  height: 40px;
  float: left;
}
.twitter-icon img {
  width: 100%;
}
.circle-button {
  color: #11aa66;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #11aa66;
}
.circle-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: 5px -7px;
  border-top: 10px solid transparent;
  border-right: 12px solid #11aa66;
  border-bottom: 10px solid transparent;
}
.circle-button:hover {
  background-color: #11aa66;
}
.circle-button:hover:after {
  border-right-color: #3c3c3c;
}
/*---------- Preloader styles and animation --------*/
.preloader {
  left: 50%;
  top: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #44dd99;
  border-radius: 50px;
  animation: preloader 1.5s infinite linear;
}
.preloader:after {
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 10px solid #44dd99;
  border-bottom: 10px solid #44dd99;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 50px;
  content: '';
  top: -20px;
  left: -20px;
  animation: preloader_after 1.5s infinite linear;
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #00aacc;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader_after {
  0% {
    border-top: 10px solid #00aacc;
    border-bottom: 10px solid #00aacc;
  }
  50% {
    border-top: 10px solid #44dd99;
    border-bottom: 10px solid #44dd99;
  }
  100% {
    border-top: 10px solid #00aacc;
    border-bottom: 10px solid #00aacc;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}
.bounce {
  animation: bounce 2s infinite;
}
.arrow-right {
  position: absolute;
  left: 0;
  top: 20px;
  text-align: center;
  padding: 8px;
  margin-right: 6px;
  height: 30px;
  float: right;
}
.arrow-right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 51%;
  width: 100%;
  background: #fbfbfb;
  -webkit-transform: skew(40deg, 0deg);
  -moz-transform: skew(40deg, 0deg);
  -ms-transform: skew(40deg, 0deg);
  -o-transform: skew(40deg, 0deg);
  transform: skew(40deg, 0deg);
}
.arrow-right:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 100%;
  background: #fbfbfb;
  -webkit-transform: skew(-40deg, 0deg);
  -moz-transform: skew(-40deg, 0deg);
  -ms-transform: skew(-40deg, 0deg);
  -o-transform: skew(-40deg, 0deg);
  transform: skew(-40deg, 0deg);
}
.arrow-right.bounce {
  cursor: pointer;
}
.arrow-buttons {
  float: right;
  width: 10%;
  margin: 1em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  border-bottom: 0.6em solid #11aa66;
  margin-bottom: 1em;
  cursor: pointer;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  border-top: 0.6em solid #11aa66;
  cursor: pointer;
}
.open-circle {
  font-size: 2em;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid #cccccc;
  position: relative;
  border-radius: 0.35em;
}
.checkmark {
  display: inline-block;
  width: 2em;
  height: 2em;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmark-stem {
  position: absolute;
  width: 5px;
  height: 12px;
  background-color: #11aa66;
  left: 10px;
  top: 3px;
}
.checkmark-kick {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #11aa66;
  left: 6px;
  top: 10px;
}
.x:after {
  content: "X";
  font-size: 1em;
  color: #ee5555;
  font-family: Lato, sans-serif;
  padding: 0 0 0 .75em;
}
#levelup_anim {
  width: 128px;
  height: 128px;
  background-image: url("/img/Sparkle_Sprite.png");
  position: absolute;
  margin-left: 60px;
}
/* ==========================================================================
    ----------------------> 10.0 Media Queries <------------------------------
   ========================================================================== */
@media screen and (max-device-width: 640px), (max-width: 768px), (orientation: portrait) {
  h2 {
    font-size: 0.9em;
  }
  h3 {
    font-size: 1.05em;
  }
  .site-wrapper {
    min-height: 100%;
    height: auto;
    width: 100%;
  }
  .content {
    padding: 60px 3% 0;
  }
  .banner {
    width: 96%;
    margin: 1em 2% 2em;
  }
  .bottom-banner {
    width: 100%;
    left: 0;
    margin: 0;
  }
  .banner.banner-top {
    padding: 1em;
    margin-top: 50px;
  }
  .banner.banner-top .play-button {
    top: 2.5em;
    width: auto;
    font-size: 100%;
  }
  /*-------------- Header and Nav -------------*/
  header {
    height: 50px;
    width: 100%;
    position: relative;
  }
  header h1 {
    padding: 0 0 0 5%;
    max-width: 6em;
  }
  header .logo {
    display: none;
  }
  nav {
    width: 100%;
    height: auto;
    display: none;
    opacity: 0;
    margin-top: 50px;
    position: absolute;
  }
  nav .menu {
    background-color: #3c3c3c;
    height: auto;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: block;
    width: 100%;
    margin: 0;
    padding: .2em 1em;
    height: auto;
    border-top: 1px #666 solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  nav ul li a {
    display: block;
    width: 100%;
    color: #fbfbfb;
  }
  nav ul li a:hover {
    color: #11aa66;
  }
  nav ul li a span {
    display: inline-block !important;
    font-size: 16pt;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .icon {
    background-image: none;
    height: auto !important;
  }
  .icon span {
    display: block;
  }
  .toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 10;
    margin: 0;
  }
  .toggle:after {
    content: "";
    position: absolute;
    top: 1.2em;
    left: 1.2em;
    width: 1.5em;
    height: 0.35em;
    border-top: 1em double #fbfbfb;
  }
  #toggle:checked + nav {
    display: block;
    opacity: 1;
  }
  #toggle:checked + nav .account-buttons {
    display: block;
    opacity: 1;
  }
  /*-------------- Login -------------*/
  .account-buttons {
    width: 100%;
    display: none;
    position: static;
    float: left;
    clear: both;
    margin-top: .5em;
    background-color: transparent;
  }
  .account-buttons button {
    width: 50%;
    margin: 1em 25% 0;
    padding: .5em;
  }
  .account-buttons a {
    width: 100%;
    margin: 0;
    margin-top: .5em;
    font-size: 90%;
    float: left;
    text-align: left;
    padding-left: 100px;
  }
  .login-wrapper,
  .login-page .login-wrapper {
    width: 100%;
    margin: 50px 0 0 0;
    z-index: 11;
  }
  .login-page .login-box,
  .login-page .signup-box {
    width: 100%;
  }
  .login-box,
  .signup-box {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 11;
    padding: 1em 2em 5em;
  }
  #alert.banner {
    margin: 50px 0;
    width: 100%;
  }
  /*-------------- Forms -------------*/
  /*-------------- Content Blocks -------------*/
  .horizontal-content {
    display: none;
    height: auto;
    width: 100%;
  }
  .horizontal-content h3 {
    padding: .3em;
    margin: 0;
  }
  .horizontal-content .section {
    width: 100%;
    margin: 2% 0;
    height: auto;
  }
  .horizontal-content .section .block {
    margin: 5% 0 0;
    height: auto;
    width: 90%;
    padding: .5em;
  }
  .horizontal-content .section .block img {
    width: 100%;
    height: auto;
  }
  .horizontal-content .section .block p {
    font-size: 90%;
    padding: 0;
    margin: 0;
    width: 66%;
    float: left;
  }
  .horizontal-content .section .block button,
  .horizontal-content .section .block a.button {
    position: absolute;
    right: 0.5em;
    top: 40%;
    padding: 1%;
    margin: 0 0 0 0;
    width: auto;
  }
  .achievement-block {
    min-heignt: 5.5em;
  }
  .column2,
  .column1 {
    width: 100% !important;
    padding-top: 1em;
  }
  .column2 .block,
  .column1 .block {
    width: 96% !important;
    margin: 1% 2%;
  }
  .column-wide {
    width: 100% !important;
    padding: 1em 0 !important;
  }
  .game-block {
    height: 5em;
  }
  .game-block div {
    padding: 2.5em 1em !important;
    width: 100%;
  }
  .game-title-wrapper {
    height: 200px;
  }
  .game-title-wrapper h2 {
    padding-top: 1em;
  }
  .horizontal-content .section .block.splash-block p {
    font-size: 90%;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .horizontal-content .section .block.splash-block button,
  .horizontal-content .section .block.splash-block a.button {
    position: relative;
    padding: .5em 1.5em;
    width: auto;
    display: inline-block;
    margin: 1em auto;
  }
  /*-------------- Profile -------------*/
  .profile-title {
    width: 40%;
    float: left;
  }
  .profile-title h2 {
    padding-top: 0;
  }
  .profile a.button {
    margin-top: .5em;
    font-size: 85%;
  }
  .profile-icon.sm {
    position: absolute;
    left: 30px;
    margin: 0;
    padding: 0;
  }
  .nav-tabs {
    width: 50%;
    float: right;
    padding: 0;
  }
  .side-panel {
    width: 50%;
  }
  /*-------------- Footer -------------*/
  .about-us {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .about-us p {
    padding: 1% 5%;
  }
  .about-us .footer {
    position: relative;
  }
}
/* ==========================================================================
   10.1 Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   11.0 Common classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
