@import url('normalize.css');

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
	LESS must be compiled: http://lesscss.org/ 
*/

/* ==========================================================================*/
 
 /*
 * Citizen Science Web Portal
 * Author: Sara Engelhardt
 * URI: 
 */
 
 
 /* ==========================================================================
   --------------------> 0.0 TABLE OF CONTENTS <-------------------------------
   ===========================================================================
   
   0.0 General LESS Definitions
   1.0 Resets / Overrides
   		1.1 Browser Upgrade Prompt
   2.0 Links and Type
   3.0 Main Layout
   		3.1 Header / Nav Bar
   		3.2 Login
   		3.3 Footer
   4.0 Content Blocks
   		4.1 Games
   		4.2 Achievements
   		4.3 Homepage
   5.0 Profile
   6.0 Config Pages
   7.0 Forms
   8.0 Forum
   9.0 Misc
   10.0 Media Queries
   		10.1 Print Styles
   11.0 Common Classes
   		
   ========================================================================== */

/* ==========================================================================
   --------------------> 0.0 General LESS Definitions <----------------------
   ========================================================================== */
   
   @Color1: #11aa66;
   @Color2: #00aacc;
   @Color3: #008855;
   @ColorDark: #3C3C3C;
   @ColorMed: #CCCCCC;
   @ColorLight: #EAEAEA;
   @ColorWhite: #FBFBFB;
   @ColorError: #EE5555;
   .ease-in-out(@time: 0.3s) {
	   -moz-transition: @time ease-in-out;
	   -o-transition: @time ease-in-out;
	   -webkit-transition: @time ease-in-out;
	   transition: @time ease-in-out;
	}
   .opacity(@opacity: 0.5) {
	  -moz-opacity: @opacity;
	  -khtml-opacity: @opacity;
	  -webkit-opacity: @opacity;
	  opacity: @opacity;
	  @opperc: @opacity * 100;
	  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
	  filter: ~"alpha(opacity=@{opperc})";
	}
	.transform(@transform: rotate(45deg)) {
		-webkit-transform: @transform;
		-moz-transform: @transform;
		-ms-transform: @transform;
		-o-transform: @transform;
	}
   .gradients {
	    background: @ColorLight; 
	    background: linear-gradient(top, @ColorLight, @ColorMed);
	    background: -o-linear-gradient(top, @ColorLight, @ColorMed); 
	    background: -ms-linear-gradient(top, @ColorLight, @ColorMed); 
	    background: -moz-linear-gradient(top, @ColorLight, @ColorMed); 
	    background: -webkit-linear-gradient(top, @ColorLight, @ColorMed); 
	}
	.box-shadow (@x: 2px, @y: 2px, @blur: 4px, @opacity: 0.4){
		-webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @opacity);
		-moz-box-shadow:    @x @y @blur rgba(0, 0, 0, @opacity);
		box-shadow:         @x @y @blur rgba(0, 0, 0, @opacity);
	}
	.box-sizing(@box: border-box) {
		-webkit-box-sizing: @box;
		-moz-box-sizing: @box;
		box-sizing: @box;
	}
	

/* ==========================================================================
   --------------------> 1.0 Resets / Overrides <----------------------------
   ==========================================================================
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
   ========================================================================== */


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid @ColorMed;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   1.1 Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: @ColorMed;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   ------------------------> 2.0  Links and Type <---------------------------
   ========================================================================== */
   
   h1, h2, h3, h4, h5 {
	  font-family: Lato, sans-serif;
	  text-transform: uppercase;
	  margin: 0;
   }
   
   @h1Size: 1.5em;
   	h1 { font-size: @h1Size * 1.0; }
	h2 { font-size: @h1Size * 0.8; }
	h3 { font-size: @h1Size * 0.6; }
	h4 { font-size: @h1Size * 0.5; }
	h5 { font-size: @h1Size * 0.4; }

   a {
	   font-weight: bold;
	   font-family: Lato, sans-serif;
	   text-decoration: none;
	   color: @Color1;
	   &:hover {
		  color: @Color1 + #222;
		  cursor: pointer;
	   }
   }
   
   h2 { padding: 2em 0 0 }
   h3 { padding-top: 0.8em }
   .main-color {color: @Color1 !important}
   .second-color {color: @Color2 !important}
   .third-color {color: @Color3 !important}
   .grey-color {color: @ColorDark + #222 !important}
   .med-color {color: @ColorMed - #333 !important}
   
/* ==========================================================================
   ------------------------> 3.0 Main Layout <-------------------------------
   * Some widths and heights set by setWidths() and setHeights() scripts.js *
   ========================================================================== */
   
/* ======================= Temp Home Page Styles ============================ */

	.temp {
		&.content {
			padding: 0 !important;
		}
	}

/* ========================================================================== */
   
   
   body {
	   min-height: 100%;
	   background-color: @ColorMed;
   }
   .site-wrapper {
	   font-family: Georgia,Times,Times New Roman,serif;
	   .gradients;
	   min-height: 100%;
	   height: 100%;
	   width: 100%;
	   position: absolute;
   }
   button, .button, input.button, a.button {
	    text-transform: uppercase;
		font-weight: bold;
		font-family: Lato, sans-serif;
		text-align: center;
	  	color: @Color1;
	  	background: transparent;
	  	border: 2px @Color1 solid;
	  	.ease-in-out(@time: 0.2s);
	  	.box-sizing;
	  	padding: .5em 1.5em;
	  	&:hover {
		  	background: @Color1;
		  	color: @ColorWhite;
		  	}	
	}
	
	.button-secondary, input.button-secondary, a.button-secondary {
		border: none;
	}
	
	.button-fill, a.button-fill {
		background-color: @Color1;
		color: @ColorWhite;
		border-color: @Color1 !important;
		&:hover {
			background-color: @ColorWhite;
			color: @Color1 !important;
			border-color: @ColorWhite !important;
		}
		&.red {
			color: @ColorWhite !important;
			background-color: @ColorError;
			border-color: @ColorError;
			&:hover {
				background-color: @ColorWhite !important;
				color: @ColorError !important;
				border-color: @ColorWhite !important;
			}
		}
	}
	
	.button-big, a.button-big {
		width: 100% !important;
		//background-color: @Color1;
		//color: @ColorWhite;
		margin: 1em 0 !important;
		display: block;
		&:hover {
			//background-color: @ColorWhite;
			//color: @Color1;
			//border-color: @ColorWhite;
		}
		
	}
	
	.button-center {
		display: inline-block !important;
		width: 400px;
		
	}
	.button.white, a.button.white {
		color: @Color1;
		border-color: @ColorWhite;
		background-color: @ColorWhite;
		&:hover {
			background-color: @Color1;
			border-color: @Color1;
			color: @ColorWhite;
		}
	}
	.button.red {
		color: @ColorError;
		border-color: @ColorError;
		&:hover {
			background-color: @ColorError;
			color: @ColorWhite;
		}
	}
	
	.banner {
		.box-sizing;
		.box-shadow();
		width: 80%;
		height: auto;
		background-color: @ColorDark;
		color: @ColorWhite;
		padding: 2%;
		margin: 1em 10% 2em;
		p {
			float: left;
			margin: 0 0 2% 0;
		}
		button, a.button {
			float: right;
		    float: right;
		    font-size: .8em;
		}
		&#alert {
			padding: 10% 20% 30%;
			text-align: center;
			margin: 1em 5% 2em 15%;
		}
		&.small{
			width: 40%;
			background-color: transparent;
			border: none;
			.box-shadow(@opacity: 0);
			margin: 1em auto;
			clear: both;
		}
		h2 {
			padding: 0;
		}
	}
	.light {
		.box-shadow(0,0,0,0);
		background-color: transparent;
		border: solid 1px @ColorMed;
		color: @ColorDark;
		text-align: center;
		//font-size: 90%;
		width: 100% !important;
		margin: 1em 0;
		display: inline-block;
	}
	.medium {
		background-color: #bbb;
		color: @ColorDark;
	}
	.banner.banner-top {
		padding: 1em 40px 1em 140px;
		margin: 0;
		z-index: 0;
		background-color: @Color1;
		color: @ColorWhite;
		width: 100%;
		h3 {
			color: @ColorWhite
		}
		hr {
			border-color: @ColorWhite;
		}
		a {
			color: @ColorWhite;
			&:hover {
				text-decoration: underline;
			}
		}
		a.button {
			border-color: @ColorWhite;
			margin: 1em 0 0;
			padding: .5em 1em;
			&:hover {
				color: @Color1;
				text-decoration: none;
				background-color: @ColorWhite;
			}
			
		}
		.achievement-icon {
			background-color: @ColorWhite;
			border: none;
		}
		.play-button {
			width: 200px;
			font-size: 120%;
			position: absolute;
			right: 1em;
			top: 0em;
		}
	}
 	.bottom-banner, .bottom-banner-fade {
		.box-sizing;
		.box-shadow;
		width: 60%;
		margin: 1em 20%;
		padding: 1.25em 2em;
		position: fixed;
		z-index: 11;
		bottom: 0;
		//left: 100px; //original value
		background-color: @Color1;
		color: @ColorWhite;
		font-family: Lato, sans-serif;
		font-weight: bold;
		a {
			color: @ColorWhite;
			text-decoration: underline;
		}
		
	}
	.modal, .welcome-modal {
		position: fixed;
		z-index: 100;
		width: 50%;
		min-height: 250px;
		margin: 10% 25%;
		background-color: @ColorLight;
		padding: 2em;
		text-align: center;
		.box-shadow();
		button {
			margin: 1em;
		}
		h2 {
			padding: 1em 0;
		}	
	}
	.modal-bg, .welcome-modal-bg {
		position: fixed;
		z-index: 99;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.5;
	}
   .content {
		min-height: 100%;
		padding: 0 40px 0 140px;
		&.horizontal {
			padding: 0 40px 0 100px;
		}
	}
   
   	.horizontal-content {
	   	display: none;
	   	min-height: 100%;
	   	height: 100%;
	   	padding: 0;
	   	float: left;
	   	.box-sizing;
	   	h2 { font-size: @h1Size * 0.6; }
	   	h3 {
		   font-size: .9em;
		   text-align: center;
	   	}
	   	.section {
		   h2 {padding: 0}
		   margin: 3em 0 0 0;
		   height: 100%;
		   width: auto;
		   float: left;
		   .block {
			   .box-sizing;
			   padding: 1em;
			   position: relative;
			   height: 75%;
			   width: 30%;
			   overflow:hidden;
			   float: left;
	 		   margin: 20px 20px 0 0;
	 		   p {
		 		   font-size: 94%;
	 		   }
	 		   .box-shadow();
			   img {
				   position: absolute;
			       left: 50%;
				   top: 50%;
				   width: auto;
				   height: 100%;
				   transform: translate(-50%, -50%);
			  	}
			}
			
	   	}
   	}
   	
   	.column2 {
	   width: 100%;
   	}
   	.column1 {
	   width: 40%;
	   padding: 0.5em 0;
	   .block {
		   width: 100%;
		   margin: 1% 2%;
		   padding: 2%; 
	   	}
   	}
   	.column-wide {
	   	width: 60%;
		padding: 0.5em 1em;
		.box-sizing;
   	}
   	.column_half {
	   	width: 50%;
	   	float: left;
	   	padding: .2em;
	   	.box-sizing;
	   	span {
		   	clear: both;
		   	display: block;
	   	}
	   	label {
		   	padding: .2em;
	   	}
   	}
	
	.right {
		float: right !important;
	}
	.left {
		float: left !important;
	}
	.center {
		text-align: center;
		label {
			float: none;
			clear: none;
		}
	}
	.disabled {
		a {
			color: @ColorMed - #111;
			&:hover {
				color: @ColorMed - #111;
				cursor: not-allowed;
			}
		}
	}
	.no-float {
	float: none !important;
	}
	.large {
		font-size: 150%;
	}
	#alert {
		//background-color: @ColorLight;
		//color: @ColorDark;
		z-index: 101;
		cursor: pointer;
	}
	p.error {
	//position: absolute;
	//right: 2em;
	font-size: 80%;
	font-weight: bold;
	color: @ColorError;
	//padding: 0.5em 1em;
	//margin-top: -20px !important;
	//float: right;
	}
	input.error, textarea.error {
		font-weight: bold;
		color: @ColorError;
		border: 3px solid #ee5555;
	}
	input[type="checkbox"].error {
		+ label {
			color: @ColorError;
		}
	}
	div.warning {
	   clear: both;
	   padding: 2em;
	   background-color: rgba(255,200,200,0.5);
	   margin: 0 2em 1em;	
	   color: @ColorError;	   
	}
	
	hr.fat {
		border-top: 3px solid @ColorMed;
		height: 3px;
	}
	
	.ellipsis {
    	white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
	}
	
/* ======================= Icon Font ============================ */
	
@font-face {
  font-family: 'site_icons';
  src:  url('fonts/site_icons.eot?r9n07k');
  src:  url('fonts/site_icons.eot?r9n07k#iefix') format('embedded-opentype'),
    url('fonts/site_icons.ttf?r9n07k') format('truetype'),
    url('fonts/site_icons.woff?r9n07k') format('woff'),
    url('fonts/site_icons.svg?r9n07k#site_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="site-icon-"], [class*=" site-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'site_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-icon-logo:before {
  content: "\e900";
}
.site-icon-home:before {
  content: "\e901";
}
.site-icon-controller:before {
  content: "\e902";
}
.site-icon-trophy:before {
  content: "\e903";
}
.site-icon-question:before {
  content: "\e904";
}
.site-icon-chat:before {
  content: "\e905";
}
.site-icon-atom:before {
  content: "\e906";
}
.site-icon-globe:before {
  content: "\e907";
}
.site-icon-beaker:before {
  content: "\e908";
}
.site-icon-pathways:before {
  content: "\e909";
}
.site-icon-robot:before {
  content: "\e90a";
}
.site-icon-microscope:before {
  content: "\e90b";
}
.site-icon-microscopePerson:before {
  content: "\e90c";
}
.site-icon-telescope:before {
  content: "\e90d";
}
.site-icon-telescopePerson:before {
  content: "\e90e";
}

.site-icon {
	font-size: 30pt;
}

/* ==========================================================================
   3.1 Header / Nav Bar
   ========================================================================== */
   
   header {
	   background-color: @ColorWhite;
	   z-index: 10;
	   position: fixed;
	   height: 100%;
	   width: 100px;
	   padding: 0;
	   float: left;
	   h1 { font-size: 13pt; 
		 	padding: 10px 10px 0;
		 	a {
			 	color: @ColorDark;
			 	&:hover {
				 	color: @ColorDark + #222;
			 	}
		 	}
		}
	   .logo {
		   width: 90px;
		   margin: -20px 0 0 30px;
	   }
   }
   #sgl-logo {
	   width: 100%;
	   clear: both;
	   position: relative;
	   top: inherit;
	   left:inherit;
	   transform: none;
	   
   }
   nav {
	   width: 100px;
	   height: 50%;
	   margin-top: 150px;
	   position: fixed;
	   z-index: 11;
	   .menu {
		   min-height: 100%;
		   height: 100%;
		   padding-bottom: 2em;
	   }
	   ul {
	      height: 100%;
	      min-height: 250px;
		  list-style: none;
		  padding: 0 0 0 1em;
		  li {
			  float: left;
			  clear: left;
			  a {
				  .box-sizing;
				  text-transform: uppercase;
			  }
		  }
	   }
   }

   	.nav-icon {
	   	font-size: 46pt;
	   	color: #666;
		display: block;
		&:hover, &:active {
			color: @Color1;
		}
   		span {
	   		display: none;
   		}
	}
	
   .toggle {
	text-decoration: none;
	color: @ColorWhite;
	background: @Color1;
	text-align: center;
	padding: 0;
	display: none;
	}
	#toggle{
    display: none;
	}

/* ==========================================================================
   3.2 Login
   ========================================================================== */
   .account-buttons {
	   display: block;
	   width: 100px;
	   z-index: 11;
	   position: fixed;
	   left: 0;
	   bottom: 10px;
	   text-transform: uppercase;
	   text-align: center;
	   background-color: #fbfbfb;
	   button, a {
		   width: 80%;
		   margin: 5px 10%;
		   font-size: 90%;
		   border: none;
		   padding: 0;
		   &:hover {
			   background-color: initial;
			   color: @Color1 + #222;
		   }
	   }
   }
   .login-wrapper {
	   display: none;
	   margin: 0 0 0 100px;
	   height: 100%;
	   width: 350px;
	   z-index: 9;
	   position: fixed;
	   top: 0;
   }
   .login-box, .signup-box {
	   font-size: 80%;
	   z-index: 9; //below header for non-mobile
	   display: none;
	   position: absolute;
	   top: 0;
	   left: 0;
	   color: @ColorWhite;
	   background: @ColorDark;
	   height: 100%;
	   width: 100%;
	   .box-sizing;
	   padding: 1em 2em;
	   p {
			margin: .5em 0;
		}
	   form {
		  width: 100%;
		  padding: 0 10%; 
	   }
	   input {
		   background-color: @ColorLight - #111;
	   }
	   input[type="checkbox"] {
		   float: left;
		   + label {
			   clear: none;
		   }
	   }
	}
	.signup-box {
		overflow-y: scroll;
	}
	.benefits {
		color: @ColorMed - #222;
	}
	.signup-icon {
		font-size: 35pt;
		color: @ColorMed - #222;
		float: left;
		+ h4 {
			margin: 16px 0 0;
			float: left;
			
		}
	}
   .close {
	   position: absolute;
	   top: 1em;
	   right: 1em;
   }
   .login-page {
	   position: fixed;
	   background-color: @ColorDark;
	   width: 100%;
	   height: 100%;
	   overflow-y: scroll;
	   .login-wrapper {
		   display: block;
		   margin: 0;
		   width: 100%;
		   overflow-y: scroll;
	   }
	   .login-box, .signup-box {
		   width: 60%;
		   max-width: 600px;
		   position: relative;
		   margin: 0 auto;
		   overflow-y: initial;
	   }
	   .signup-box {
		   > .panel {
			   margin-bottom: 1.3em;
		   } 
		}
		.close {
			display: none;
		}
   }
/* ==========================================================================
   3.3 Footer
   ========================================================================== */
	
   .footer {
		text-align: right;
	    width: 100%;
	    position: relative;
	    padding: 8em 0 5%;
		clear: both;
	    .box-sizing;
	    ul{
		   margin: 0;
		   list-style: none;
		   padding: 0;
		   li {
			   display: inline;
			   a {
				color: @ColorDark;
				&:hover {
					color: @Color1;
					} 
			   	}
	    	} 
	    }    
   }
   
      .about-us {
	   text-align: right;
	   width: 250px;
	   height: 100%;
	   min-height: 100%;
	   background: @ColorWhite;
	   float: right;
	   position: relative;
	   h2 {
		   margin: 3em 30px 0 0;
		   text-align: right;
		   font-size: 1.2em;
		   padding: 1em 0 0;
	   }
	   p {
		   padding: 10% 30px;
	   }
	   a.button {
		   margin: 30px;
	   }
	   .footer {
		   position: absolute;
		   bottom: 5%;
		   padding: 0 .75em;
	   }
   }
/* ==========================================================================
   ------------------------> 4.0 Content Blocks <----------------------------
   ========================================================================== */

  /* ==========================================================================
   4.1 Games
   ========================================================================== */
   
    /********* Homepage blocks ***********/
     
   .game-block, .dashboard-block, .spotlight-block {
	   h3 {
		   font-size: .9em;
		   text-align: center;
		   padding: 3%;
	   	}
		//background-color: @ColorDark !important;
		span {
			text-transform: uppercase;
			font: bold 1em Lato, sans-serif;
			text-align: center;
			position: absolute;
			width: 100%;
			padding: 1em;
			margin: 0;
			color: @ColorWhite;
			//background-color: @Color1;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 6;
			.ease-in-out(0.2s);
			.box-sizing;
		}
		div {
			.box-sizing;
			color: @ColorWhite;
			position: relative;
			z-index: 5;
			.ease-in-out(0.2s);
			background: @Color1;
			display:block;
			margin:0;
			height:100%;
			left:0;
			opacity:0;
			position:absolute;
			top:0;
			width:100%;
			padding:30% 5% 0 5%;
			button, a.button {
				margin: 20px auto;
		 		width: 60%;
				color: @ColorWhite;
				border-color: @ColorWhite;
				display: block;
				&:hover {
					background-color: @ColorWhite;
					color: @Color1;
					}
			}
		}				
	}
	.game-block, .dashboard-block, .spotlight-block {
		padding: 0 !important;
	}
	.game-block div:hover {
		opacity:1;
		+ span {
		background: transparent;
		}
	}
	
	/********* Game Info Page ***********/
	
	.game-title-bg {
	   width: 100%;
	   height: 250px;
	   background-color: @Color1 - #132;
	   position: absolute;
	   overflow: hidden;
	   img {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			height: auto;
			transform: translate(-50%, -50%);
			opacity: 0.5;   
	   }
	}
	  .game-title-wrapper {
	   height: 190px;
	   color: @ColorWhite;
	   font-size: 150%;
	   position: relative;
	   h1 {
		 margin-top: 1.7em;  
	   }
	   span {

	   }
	   a.button, button, input.button {
		   position: absolute;
		   right: 0;
		   top: 0;
		   border-color: @ColorWhite;
		   color: @ColorWhite;
		   &:hover {
			   background-color: @ColorWhite;
			   color: @ColorDark;
		   }
	   }
   }
   #game_short {
	   font-size: 125%;
	   text-transform: initial;
	   padding-top: 0.4em;
   }
   
   .leaderboard {
			margin-top: .5em;
		.panel {
			background-color: @ColorLight;
			border-bottom: 2px solid @ColorMed;
			padding: .2em .5em;
			&.odd {
				background-color: @ColorWhite;
			}
			&.myscore {
				background-color: @Color1 + #824;
			}
		}
		
	}
   
   /********* In Game Page ***********/
   
   #game_iframe {
	  .transform(scale(1));
	}
	#iframe_overlay {
		position: absolute;
		background-color: #000;
		opacity: 0;
	}
	
	#game_hud {
		width: 100%;
		height: 150px;
		background-color: @ColorDark;
		color: @ColorLight;
		position: fixed;
		bottom: 0;
		//padding: 15px;
		font-size: 80%;
		.box-sizing;
		//overflow-y: scroll;
		#back_container{
			position: fixed;
			z-index: 10;
			right: 0;
			bottom: 0;
			width: 95px;
			height: 150px;
			border-left: 2px solid @ColorDark + #111;
			background-color: @ColorDark;
			a.button {
				margin: 40px 1em 0;
				//width: 70px;
			}
			.arrow-down { 
			  width: 0; 
			  height: 0; 
			  border-left: 1.5em solid transparent;
			  border-right: 1.5em solid transparent;
			  border-top: .75em solid @ColorDark + #222;
			  cursor: pointer;
			  margin: 10px auto;
			}
		}
		#profilePanel {
			width: 160px;
			height: 150px;
			position: fixed;
			z-index: 10;
			border-right: 2px solid @ColorDark + #111;
			background-color: @ColorDark;
			bottom: 0;
			left: 0;
			.inner {
				padding: 10px;
			}
			.profile-icon.sm {
				margin:.3em;
				border-color: @ColorMed;
			}
			h3 {
				padding: 0;
			}
			h2 {
				padding: 0;
				margin-bottom: 0.3em;
			}
			#dev_link, #admin_link {
				display: none;
			}
			#anon-signup-link {
				position: relative;
				text-transform: uppercase;
				padding-left: .5em;
			}
		}
		#hud_container {
			position: absolute;
			left: 160px;
			.top-tabs {
				padding: 0;
				//margin-top: -15px;
				background-color: @ColorDark;
				position: absolute;
				z-index: 1;
				width: 80%;
				top: 0;
				div {
					a {
						color: @ColorMed;
						border-right: none;
						font-size: 90%;
						padding: .5em 0;
						&:hover {
							box-shadow: inset 0 4px 0 #11aa66;
						}		
					}
				&.current a  {
						box-shadow: inset 0 4px 0 #11aa66;
					}
				}
			}
			#target-activity_feed {
				background-color: @ColorDark;
				display: block;
				padding: 10px;
				max-height: 120px;
				width: 100%;
				overflow-y: scroll;
				margin-top: 20px;
			}
			#target-activity_list {
				position: absolute;
				padding: 0 20px;
				z-index: 0;
				top: 33px;
				overflow-x: scroll;
				.next-quest {
					position: absolute;
					width: 0;
					height: 0;
					margin-left: 10px;
					border-top: 45px solid transparent;
					border-bottom: 45px solid transparent;
					border-left: 60px solid @Color1;
					> span {
						position: absolute;
						margin-top: -18px;
						margin-left: -55px;
						text-transform: uppercase;
						font-family: Lato, sans-serif;
						font-size: 80%;
						font-weight: bold;
						cursor: pointer;
					}
					&.locked {
						border-left: 60px solid #444;
						> span {
							cursor: default;
						}
					}
				}
				.block {
					max-width: 120px;
					float: left;
					padding: 0px 10px 5px;
					background-color: #444;
					border: 1px solid #555;
					margin-bottom: .5em;
					height: 94px;
					img {
						width: 45px;
						height: 45px;
					}
					span.right {
						max-width: 50%;
					}
					h2 {
						padding: 0.5em;
						display: inline;
					}
					h3 {
						height: 37px;
					}
					a.button {
						float: left;
						max-width: 40%;
						padding: .5em;
						&:hover {
							background: none;
							color: @Color1 + #222;
						}
					}
					div.truncate {
						line-height: 1.2em;
						height: 3em;
						overflow: hidden;
					}
					&.quest-block {
						background-color: @ColorDark;
						h3 {
							padding-top: 0.4em;
						}
					}
					&.criteria-block {
						h3 {
							padding-top: 0.4em;
						}
					}
				}
				.stats-icon {
					&.locked {
						> div {
							width: 45px;
							height: 45px;
							background-color:#3e3e3e;
							.opacity(@opacity: 0.75);
							position: absolute;
						}
					}
				}
				#criteria_list {
					//position: absolute;
					//display: inline;
					padding-right: 4em;
				}
			}
		}
	}
	#hud_min {
		font-size: 80%;
		height: 50px;
		width: 100%;
		position: fixed;
		bottom: 0;
		background-color: @ColorDark;
		#profile_min {
			padding: 5px;
			width: 160px;
			h3 {
				padding: 0;
				color: @ColorLight;
			}
		}
		#activity_feed_min {
			color: @ColorLight;
			position: absolute;
			bottom: 10px;
			left: 160px;
			z-index: 10;
		}
		.arrow_container {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 70px;
			padding: 10px;
		}
		.arrow-up { 
		  width: 0; 
		  height: 0; 
		  border-left: 1.5em solid transparent;
		  border-right: 1.5em solid transparent;
		  border-bottom: .75em solid @ColorDark + #222;
		  cursor: pointer;
		  margin: 10px auto;
		}
		
	}
	#target-activity_feed, #activity_feed_min {
		div {
			min-height: 35px;
		}
		.stats-icon {
			width: 30px;
			height: 30px;
			background-color: inherit;
			//border-color: @Color1;
		&.empty {
			background-color: initial;
			border: none;
			}
		img {
			width: 100%;
			}
		}
		h3 {
			margin-left: 35px;
			margin-top: -35px;
			text-transform: none;
		}
	}
	
	.modal.end-game {
		h1 {
			font-size: 250%;
			color: @Color1;
			padding: 0;
		}
		h2 {
			padding: 0;
			font-size: 160%;
		}
		h3 {
			font-size: 125%;
		}
		h4 {
			font-size: 90%;
		}
		.delta {
			font-size: 150%;
			position: absolute;
			margin-left: 2.5em;
			margin-top: -1.5em;
		}
		.panel.banner.light {
			max-height: 150px;
			overflow-y: scroll;
		}
		#badgeZone {
			.half.panel {
				padding: 7px;
				font-size: smaller;
			}
			.stats-icon {
				background: @ColorMed;
				border: 1px solid @ColorMed - #151515;
				width: 30px;
				height: 30px;
				float: left;
				img {
					width: 100%;
				}
			}
		}
	}
  
 /* ==========================================================================
   4.2 Achievements
   ========================================================================== */
   .achievement-block, .featured-achievement .banner {
	   	color: @ColorWhite;
		background-color: @ColorDark;
		h3 {
   		color: @ColorWhite;
   		}
	}
   .achievement-icon {
	   position: relative;
	    width: 46px;
		height: 46px;
		border: 2px solid @ColorMed;
		float: left;
		margin: 0 1em .5em 0;
		&.locked {
			> div {
				width: 100%;
				height: 100%;
				background-color: @ColorDark;
				.opacity(@opacity: 0.75);
				position: absolute;
			}
		}
		&.empty {
			border: none;
		}
		+ h3 {
			text-align: left;
			padding-top: 0;
		}
		img {
			width: 100%;
		}
   }
   h3.achievement-title {
	   padding: 0.8em 0;
	   color: @ColorDark;
   }
   .achievement-list {
	.block {
		border-bottom: solid 2px @ColorMed;
		background-color: initial;
		color: @ColorDark;
		position: relative;
		.box-sizing;
		height: auto;
		float: left;
		padding: .3em;
		width: 100%;
		.game-title {
	       position: absolute;
		   right: 10px;
		   top: 5px;
		   margin-bottom: 10px;
	   	}
	   	p{
		   font-size: 90%;
		   float: left;
		   clear: left;
		   margin: 2% 0 2% 0;
	   	}
	   	button, a.button {
		    padding: 1%;
		    float: right;
		    font-size: .8em;
		}
	}
   }
   .quest-block {
	   &.open {
		   background-color: @ColorWhite !important;
	   }
	    h3.achievement-title {
		   padding: 0em 0 .4em;
		   color: @ColorDark;
		   width: 64%;
		   max-width: 450px;
	   }
	   .game-title {
		   width: 25%;
	   }
	   .progress {
		   margin: 0 0 0 4em !important;
		   height: 15px !important;
		   padding: .2em !important;
		   > span {
			   background-color: @Color1 + #222;
		   }
	   }
	   + .show_panel {
	   		clear: both;
	   		background-color: initial !important;
	   		padding: 0;
		   .block{ 
		   background-color: #eaeaea;
		   width: 100% !important;
		   margin: 0.2em 0;
		   border-bottom: none; 
		  }   
	   }
	   .panel p, .panel span {
		   margin-left: .4em;
	   }
	
	}
	.gold {
		background-color: #ffcc44 !important;
	}
/* ==========================================================================
   4.3 Homepage
   ========================================================================== */
   
   #dashboard, #spotlight {
	   .dashboard-block, .spotlight-block {
		   background-color: @ColorLight + #111;
		   padding: 0em !important;
		   h2, h3, h4, h5, p {
			  color: @ColorDark !important;  
		   }
		   hr {
			   border-top: 1px solid #ddd;
		   }
		   h1 {
			   padding: .1em;
		   }
		   h2 {
			   font-size: 130%;
			   padding-top: .4em;
		   }
		   h3 {
			   font-size: 110%;
		   }
		   h4 {
			  padding: 0.3em; 
		   }
		   h4.right { 
			   padding-right: 1.5em !important;
		   }
		   div {
			   opacity: 1;
			   background-color: transparent;
			   padding: 0;
			   position: relative;
			   height: auto;
		   }
		   span {
			   width: auto;
			   padding: 0;
			   background-color: transparent;
		   }
		   button, a.button {
			   margin: 1em auto;
			   padding: 0.3em 0.9em;
		   }
		   img {
			   position: relative;
			   left: auto;
			   top: auto;
			   transform: none;
			   &.profile-icon {
				   height: 50px;
				   width: 50px;
			   }
			   &.feed-icon {
				   height: 30px;
				   width: 30px;
				   padding: 0 .3em;
			   }
		   }
		   .block-list {
			   margin: .5em 6%;
			   border: solid 1px #ddd;
			   width: 88%;
			   padding: 0.5em;
		   } 
		}
   }
   .spotlight-block {
	   .block {
		   padding: .5em !important;
	   }
	   .panel {
		   margin: .5em .25em 0;
		   &.padded {
			   padding: 1.5em;
		   }
	   }
   }
   .splash-block {
	  	color: @ColorWhite;
		background: @Color3;
		font-family: lato, sans-serif;
		text-align: center;
		padding: 3em !important;
		margin: 0 3em 0 0 !important;
		height: 100%;
		z-index: 0;
		> img {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100% !important;
			height: auto !important;
			transform: translate(-50%, -50%);
			opacity: 0.5;
			z-index: -1;
		}
	   h3 {
		   font-size: 1.5em;
		   font-weight: normal;
	   }
	   hr {
		   border-top: 2px solid @Color1;
	   }
	   a {
		   color: @ColorWhite;
		   &:hover {
			  color: @Color1 + #222; 
		   }
	   }
	   a.button, .button {
		   padding: .5em 2em;
		   margin: .5em;
	   }
   }
   .section.splash {
	   margin: 0 !important;
	   padding: 0 !important;
   }
   .section#deleted {
	   margin-left: -186px;
   }
   .top {
	   z-index: 10;
   }
   .dark {
		background-color: rgba(0,0,0,0.3);
		padding: 1em;
	}
	.content.temp .splash-block {
		margin: 0 !important;
	}
   
/* ==========================================================================
   ----------------------------> 5.0 Profile <-------------------------------
   ========================================================================== */
   .profile {
	   .profile-title {
		   word-wrap: break-word;
		   h2 {
			font-size: 150%;
			}
			.location {
				padding: .5em 0;
				span {
					padding-right: .5em;
				}
			}
	   }
		
		.score-block {
			float: left;
			width: 50%;
			min-width: 7.3em;
			.score {
				font-family: Lato, sans-serif;
				font-size: 300%;
				font-weight: bold;
				margin: 0;
			}
		}
		.button {
			padding: .3em;
			margin: 1em;
		}
		.bio {
			float: left;
			margin: 1em 0;
		}
		.column1 {
			width: 30%;
		}
		.column-wide {
			width: 70%;
			padding: 0.5em 1em;
		}
   }
   .nav-tabs {
	   text-transform: uppercase;
	   font-weight: bold;
	   padding: 2em 0;
	   div {
		   a {
			   color: @ColorDark;
			   padding: 1em;
			   border-bottom: 1px solid @ColorMed;
			   display: block;
			   .box-sizing;
			   width: 100%;
			   transition: box-shadow .3s, color .3s;
			   &:hover {
				   color: @Color1;
				   cursor: pointer;
				   box-shadow: inset 5px 0 0 @Color1;
			   }
		   }
		   &.current a {
			   box-shadow: inset 5px 0 0 @Color1;
			   
		   	}  
	   }
	   .back {
			a {
				color: @Color1 - #222;
				font-size: 85%;
				border: none;
				&:hover {
					box-shadow: none;
				}
			}
		}
		.disabled {
			a {
				color: @ColorMed;
				&:hover {
					box-shadow: none;
					color: @ColorMed;
					cursor: not-allowed;
				}
			}
		}
   }
   
   .top-tabs {
	   padding: 2em 0;
	   div {
		   padding: 0 !important;
		   a {
			   padding: 1em;
			   border-right: 1px solid @ColorMed;
			  // border-left: 1px solid @ColorMed;
			  border-bottom: 0 !important;
			   &:hover {
				   box-shadow: inset 0 5px 0 @Color1;
			   }
		   }
		   &.current a {
			   box-shadow: inset 0 5px 0 @Color1;
			   
		   	}  
	   }
	}   
   
   .profile-icon {
		background-color: @ColorMed;
		border: 1px solid @ColorMed - #151515;
		a {
			margin: 0 !important;
			padding: 0 !important;
		}

	 &.sm {
		width: 65px;
		height: 65px; 
		margin: 0 17px .3em;
		img {
			width: 100%;
		}
	 }
	 &.lg {
		width: 150px;
		height: 150px;
		img {
			width: 100%;
		}  
	 }
 }
 .activity-feed, .stats-block {
	 h2 {
		 font-size: 110%;
		 //padding-top: 1em;
	 }
	 width: 100%;
	 float: left;
	 div {
		 margin: .5em;
	 }
	  .stats-icon {
		background: @ColorMed;
		border: 1px solid @ColorMed - #151515;
		width: 30px;
		height: 30px; 
		margin: 7px;
		float: left;
		img {
			width: 100%;
		}
		&.empty {
			background: initial;
			border: none;
		}
 	}
 }
 .progress { 
	margin: .5em 0;
	height: 20px;
	position: relative;
	border: @ColorMed 1px solid;
	background-color: @ColorLight - #151515;
	padding: .3em;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	text-align: center;
	> span {
		  display: block;
		  height: 100%;
		  background-color: @Color1;
		  position: relative;
		  overflow: hidden;
		}
	h4 {
		margin: -15px 0;
		position: relative;
	}
}

#badgesZone .block {
	width: 33%;
	padding: 0;
	text-align: center;
	button.badge-button {
		border: none;
		width: 100%;
		min-height: 190px;
		font-size: inherit;
		padding: .5em;
		&:hover {
			background-color: @ColorWhite;
		}
		
	}
	.achievement-icon {
		float: none;
		width: 75px;
		height: 75px;
		margin: 0 auto;
	}
	.game-title {
		position: relative;
		right: initial;
		top: initial;
		margin: .3em 0;
		color: @ColorDark !important;
	}
}

.modal.badge-info {
	margin: 0;
	padding: 2em;
	min-height: 7em;
	text-align: left;
	.achievement-icon {
		width: 75px;
		height: 75px;
	}
	h2 {
		padding: 0 0 .5em;
	}
	.button.button-secondary {
		margin: 0;
		bottom: 1em;
		right: 1em;
		position: absolute;
	}
	.remove {
		position: absolute;
		right: 1em;
		top: 1em;
	}
}


#achievement-progressbar {
	max-width: 100% !important;
}
#edit-profile-button, #dev-profile-button, #admin-profile-button {
	display: block;
}

/* ==========================================================================
   ---------------------> 6.0 Config Pages <-------------------------------
   ========================================================================== */

.panel {
	float: left;
	width: 100%;
	input {
		float: none;
		clear: none;
		margin: .3em;
	}
	select {
		margin: .5em;
	}
	span.response {
		float: right;
	}
	button, .button {
		padding: .5em .2em;
		display: block;
		width: auto;
	}
	.clear {
		   clear: both;
		   display: block;
	}
	h1 {
		padding: 1.5em 0 0;
		text-align: center;
	}
}
.half.panel {
	width: 50%;
	padding: 0 .2em;
	.box-sizing;
}
.third.panel {
	width: 33%;
	padding: 0 .2em;
	.box-sizing;
}
.center.panel {
	text-align: center;
}
.heading.panel {
	color: @Color1;
	border-bottom: 2px solid @ColorWhite;
	font-family: Lato, san-serif;
	text-transform: uppercase;
}
#questZone .heading.panel {
	width: 90%;
}
#game_list {
	padding: 1em 0;
}
.block-list {
	background-color: @ColorWhite;
	margin: 1em 0;
	button, .button, .button-secondary {
		margin: 1em .5em;
	}
	.button-secondary.small {
		margin: 1.5em .5em;
	}
	label {
	   font-family: lato, san-serif;
	   text-transform: uppercase;
	   margin-top: 1em;
   }
   button.inline-button {
	   margin: 1em;
   }
	.title {
		display: inline;
		float: left;
		width: 55%;
		padding: 1em 0 1em .5em;
	}
	img {
		width: 75px;
		height: 75px;
	}
}
.small {
	margin: 1em;
	font-size: 80% !important;
	//color: @ColorDark;
}

.smaller {
	margin: 1em;
	font-size: 70% !important;
	//color: @ColorDark;
}

/* =================== Dev Game Updating ======================= */

#target-gamedata, #target-actions, #target-images, #target-status {
	padding-top: 2.5em;
}
.sticky {
	position: fixed;
	top: 0;
	&.button {
		margin: .5em 0;
		background-color: @ColorLight;
		&:hover {
			background-color: @Color1;
			a {
				color: @ColorWhite;
			}
		}
		&.red:hover {
			background-color: @ColorError;
		}
	}
	&.right {
		right: 50px;
	}
}
.stickybar {
	background-color: @ColorLight;
	position: fixed;
	width: 100%;
	height: 42px;
	left: 0;
	top: 0;
	//opacity: 0.6;
	opacity: 1.0;
}
.icon-wrapper {
	padding: 1em 1em 0 1em;
	float: left;
}
.image_preview {
	max-width: 100%;
	//float: left;
	clear: both;
	border: solid 2px @ColorMed;
	margin: 1em auto;
	display: block;
}
.file_name {
	display: none;
}

#actionZone {
	input {
		float: left;
	}
}
#gamesZone {
	.panel, .show-panel {
		font-size: 92%;
		label {
			font-weight: bold;
		}
		span {
			font-weight: normal;
		}
	}
}
.criteria {
	.panel.block-list {
		margin: .5em 0;
		padding: .5em;
		width: 90%;
		.box-sizing;
		span {
			text-transform: uppercase;
			font-size: 120%;
			font-family: Lato, sans-serif;
		}
	}
	.arrow-buttons {
		margin: .5em 0;
		padding: .3em .5em;
	}
	.arrow-up {
		margin-bottom: .6em;
	}	
}
.bold {
	font-weight: bold;
	text-transform: capitalize;
}
.ban-hammer {
    font-size: 1.5em;
    display: inline-block;
    width: 0.8em;
    height: 0.45em;
    border: 0.1em solid @Color1;
    position: relative;
    border-radius: 0.1em;
    .transform(rotate(-45deg));
    .ease-in-out(@time: 0.2s);
    margin: 0 .3em;
}
.ban-hammer::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0.1em;
    bottom: -0.4em;
    border-width: 0;
    background: @Color1;
    width: 0.6em;
    height: 0.2em;
    .transform(rotate(90deg));
    .ease-in-out(@time: 0.2s);
}

button:hover, input.button:hover, a.button:hover {
	.ban-hammer{
		 border: 0.1em solid @ColorWhite;
	}
	.ban-hammer::before {
		background: @ColorWhite;
	}
}
 
/* ==========================================================================
   --------------------------> 7.0 Forms <-----------------------------------
   ========================================================================== */
   
form, #signupForm, #loginForm, {
   .box-sizing;
   button, input.button {
		margin: 1em auto;
		width: 50%;
		padding: .5em;
	}
}	   
label {
   float: left;
   clear: left;
   padding: .25em;
   font-size: 13px;
   margin: .5em;
   
}
input, textarea {
   	float: left;
   	clear: left;
   	color: @ColorDark;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	background-color: @ColorWhite;
	margin: .5em;
	width: 100%;
	.box-sizing;
	border: 3px solid transparent;
	&:hover {
		background: @ColorWhite;
	}
	&:focus {
		background: @ColorWhite;
		box-shadow: 0;
		border: 3px solid @Color1;
		color: @Color1;
		outline: none;
	}
}
input:disabled {
	background-color: @ColorLight;
}
input[type="file"] {
	width: auto;
	background-color: inherit;
	float: left;
	clear: left;
}
select {
	margin: .5em;
	&:disabled {
		color: @ColorMed - #222;
		background-color: @ColorLight - #111;
		cursor: not-allowed;
	}
}
.long-input {
	width: 70%;
}
.med-input {
	width: 30%;
}
.short-input {
	width: 10%;
}
.date-input {
	width: 10%;
}
textarea {
   min-height: 60px;
}
input[type="checkbox"] {
   width: auto;
   margin: .75em 0;
}
hr {
   clear: both;
}
p {
	clear: both;
}
select {
	background-color: @ColorLight;
	border: @ColorMed 1px solid;
	option {
		border-bottom: 1px solid @ColorMed;
	}
}

button.inline-button, .button.inline-button {
	width: auto;
	float: left;
	margin: .5em;
	font-size: 70%;
}
a.inline-button {
	padding-left: 1em;
	font-size: 65%;
}
.inline-input {
	float: left !important;
	clear: none;
	label {
		padding: 0;
		margin: .5em 0;
	}
}
.filters {
	border-bottom: @ColorMed 2px solid;
	padding: 1%;
	label {
		float: none;
		clear: none;
	}
	&.inline-filters {
		div.right {
			text-align: right;	
		}
		div.left {
			text-align: left;	
		}
	}
}
#icon_select {
	clear: left;
	.selected-box {
	     position: relative;
	     margin: 0px;
	     padding: 0px;
	     width: 82px;
	     height: 82px;
	     border: @ColorMed 2px solid;
	     &:hover {
	     	border:  @Color1 2px solid;
	 		}
	 	}
	.selected-icon {
	    position: absolute;
	    margin: 0px;
		padding: 0px;
	    top:5px;
	    left:5px;
	    width: 72px;
	    height: 72px;
	}
	.component-icon{
     	position: absolute;
	 	bottom:5px;
	 	right:4px;
 	}
 	.box {
	    position: absolute;
	    top:0px;
	    left:71px;
	    margin: 0px;
	    padding: 0px;
	    width: 170px;
	    height: 170px;
	    background-color: @ColorLight;
	    border: 1px solid @ColorMed;
	    overflow:auto;
	}
	.icon {
	    position: relative;
	    margin: 5px 0px 0px 5px;
	    padding: 0px;
	    width: 72px;
	    height: 72px;
	    border: 2px solid @ColorMed;
	    background-color: #FFFFFF;
	    overflow:hidden;
	    float: left;
	    &:hover {
			 border: 2px solid @Color1;
			 }
		&.selected {
		     border: 2px solid @Color1 + #222;
		     background-color: @Color1 + #222;
		 }
	 }


}

.modal#dev_signup, .modal#bug_report {
	margin-top: 2em;
	max-height: 560px;
	overflow-y: scroll;
	h2 {
		padding: 0 0 .5em;
	}
	.remove {
		position: absolute;
		right: 1em;
		top: 1em;
	}
	label {
		max-width: 110px;
		text-align: left;
	}
}

/* ==========================================================================
   --------------------------> 8.0 Forum <-----------------------------------
   ========================================================================== */
   
   .right.back {
	   position: absolute;
	   top: 2em;
	   right: 2em;
   }
   .breadcrumbs {
	   a {
		   padding: 0 .25em;
		   &:after {
			   content: " ...";
		   }
		   max-width: 30%;
		   display: inline-block;
	   }
   }
   .block.category-block, .block.forum-block, .block.thread-block, .block.post-block {
/*
   		.title {
			text-transform: uppercase;
		}
		.description {
		   padding: .5em;
	   }
	   .owner {
		   padding: .5em;
	   }
*/	
   }
   .block.category-block {
	   border: 2px solid @ColorMed;
	   margin: 1em;
	   //padding-bottom: .5em;
	   .title {
		   background-color: @Color1;
		   padding: .5em;
		   color: @ColorWhite;
		   h3 {
			   padding: 0;
		   }
		   .description {
			   font-weight: bold;
			   font-size: 90%;
			   text-transform: none;
		   }
	   }
	   
   }
   .block.forum-block {
	   border-bottom: 2px solid @ColorMed;
	   padding: .5em;
	   h3 {
		   padding: .3em .5em 0;
		   color: @Color1;
		   a {
			   &:hover {
				   text-decoration: underline;
			   }
		   }
	   }
	   .description {
		   font-size: 85%;
		   padding: 0 .5em .5em;
	   }
	   .forum-buttons {
		   display: inline-block;
		   float: right;
		   clear: right;
		   .button {
			   padding: .25em .5em;
			   border: none;
		   }
	   }
	   &.locked, &.hidden {
		   color: @ColorMed - #222;
		   background-color: @ColorLight; 
		   display: block !important;
		   h3 a {
			   color: @ColorMed - #333;
		   }
	   }
   }
   .block.thread-block {
	   border-bottom: 2px solid @ColorMed;
	   padding: 1em;
	   h3 {
		   padding: 0;
		   //width: 100%;
		   float: left;
		   clear: both;
		   max-width: 70%;
		   > a {
			   &:hover {
				   text-decoration: underline;
			   }
		   }
	   }
	   .forum-buttons {
		   display: inline-block;
		   float: right;
		   clear: right;
		   .button {
			   padding: .25em .5em;
			   border: none;
		   }
	   }
	   .info.right {
		   text-align: right;
		   clear: right;
		   margin-top: -1.75em;
	   }
	   .thread-preview {
		   max-width: 70%;
		   clear: left;
		   
	   }
	   &.locked, &.hidden {
		   color: @ColorMed - #222;
		   background-color: @ColorLight; 
		   display: block !important;
		   .title {
			   color: @ColorMed - #333;
		   }
	   }
   }
   .block.post-block {
	   border-bottom: 2px solid @ColorMed;
	   padding: 1em;
	   h3 {
		   padding: 0;
		   a {
			   &:hover {
				   text-decoration: underline;
			   }
		   }
	   }
   }
   .block.reply-block, .block.op-block {
	   border-bottom: 2px solid @ColorMed;
	   padding: 1em;
	   h3 {
		   padding: 0;
		   a {
			   &:hover {
				   text-decoration: underline;
			   }
		   }
	   }
	   .owner {
		  width: 110px;
		  padding-right: 1em;
		  padding-bottom: 1em;
		  overflow: hidden;
		  word-break: break-all;
		  font-size: 85%;
		  img {
			  width: 80px;
			  height: 80px;
			  clear: left;
			  float: left;
		  }
		  span {
			  float: left;
			  margin-bottom: .5em;
		  }
	   }
   }
   .block.op-block {
	   background-color: @ColorLight + #111;
	   margin-top: 1em;
   }
   

/* ==========================================================================
   --------------------------> 9.0 Misc <------------------------------------
   ========================================================================== */
   .twitter-icon {
	   width: 40px;
	   height: 40px;
	   float: left;
	   img {
		   width: 100%;
	   }
   }
   .circle-button {
	   color: @Color1;
	   width: 30px;
	   height: 30px;
	   -moz-border-radius: 50%;
	   -webkit-border-radius: 50%;
	   border-radius: 50%;
	   border: 2px solid @Color1;
	   &:after {
		   content: "";
		   position: absolute;
		   width: 0;
		   height: 0;
		   margin: 5px -7px;
		   border-top: 10px solid transparent;
		   border-right: 12px solid @Color1;
		   border-bottom: 10px solid transparent;
	   }
	   &:hover{
		   background-color: @Color1;
		   &:after{
			   border-right-color: @ColorDark;
		   }
	   }
   }
/*---------- Preloader styles and animation --------*/
.preloader{
	left: 50%;
	top: 50%;
    position:absolute;
    //display: block;
    width:30px;
    height:30px;
    background: @Color1 + #333;
    border-radius:50px;
    animation: preloader 1.5s infinite linear;
}
.preloader:after{
    position:absolute;
    width:50px;
    height:50px;
    border-top:10px solid @Color1 + #333;
    border-bottom:10px solid @Color1 + #333;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-radius:50px;
    content:'';
    top:-20px;
    left:-20px;
    animation: preloader_after 1.5s infinite linear;
}
@keyframes preloader {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);background:@Color2;}
    100% {transform: rotate(360deg);}
}
@keyframes preloader_after {
    0% {border-top:10px solid @Color2;border-bottom:10px solid @Color2;}
    50% {border-top:10px solid @Color1 + #333;border-bottom:10px solid @Color1 + #333;}
    100% {border-top:10px solid @Color2;border-bottom:10px solid @Color2;}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(-30px);}
	60% {transform: translateX(-15px);}
}
.bounce {
  animation: bounce 2s infinite;
}

.arrow-right { 
	position: absolute;
	left: 0;
	top: 20px; 
	text-align: center; 
	padding: 8px; 
	margin-right: 6px;
	 height: 30px; 
	 float: right; 
} 
.arrow-right:before { 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 51%; 
	width: 100%; 
	background: @ColorWhite; 
	-webkit-transform: skew(40deg, 0deg); 
	-moz-transform: skew(40deg, 0deg); 
	-ms-transform: skew(40deg, 0deg); 
	-o-transform: skew(40deg, 0deg); 
	transform: skew(40deg, 0deg); 
}
.arrow-right:after { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	right: 0; 
	height: 50%; 
	width: 100%; 
	background: @ColorWhite; 
	-webkit-transform: skew(-40deg, 0deg); 
	-moz-transform: skew(-40deg, 0deg); 
	-ms-transform: skew(-40deg, 0deg); 
	-o-transform: skew(-40deg, 0deg); 
	transform: skew(-40deg, 0deg); 
}
.arrow-right.bounce {
	cursor: pointer;
}
.arrow-buttons {
	float: right;
	width: 10%;
	margin: 1em 0;
	.box-sizing;
	padding: 1em;
	
}
.arrow-up { 
  width: 0; 
  height: 0; 
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  border-bottom: .6em solid @Color1;
  margin-bottom: 1em;
  cursor: pointer;
}
.arrow-down { 
  width: 0; 
  height: 0; 
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  border-top: .6em solid @Color1;
  cursor: pointer;
}

.open-circle {
	font-size: 2em;
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	border: 0.1em solid @ColorMed;
	position: relative;
	border-radius: 0.35em;
}

.checkmark {
    display:inline-block;
    width: 2em;
    height:2em;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark-stem {
    position: absolute;
    width:5px;
    height:12px;
    background-color:@Color1;
    left:10px;
    top:3px;
}

.checkmark-kick {
    position: absolute;
    width:5px;
    height:5px;
    background-color:@Color1;
    left:6px;
    top:10px;
}

.x:after {
    content: "X";
    font-size: 1em; 
    color: @ColorError;
    font-family: Lato, sans-serif;
    padding: 0 0 0 .75em;
}

#levelup_anim {
    width:128px;
    height:128px;
    background-image: url("/img/Sparkle_Sprite.png");
    position: absolute;
    margin-left: 60px;
}
	        
/* ==========================================================================
    ----------------------> 10.0 Media Queries <------------------------------
   ========================================================================== */

@media screen and (max-device-width: 640px), (max-width: 768px), (orientation:portrait){
	h2 { font-size: @h1Size * .6; }
	h3 { font-size: @h1Size * .7; }
	.site-wrapper {
	   min-height: 100%;
	   height: auto;
	   width: 100%;
   	}
   	.content {
	   	padding: 60px 3% 0;
   	}
	.banner {
		width: 96%;
		margin: 1em 2% 2em;
	}
	.bottom-banner {
		width: 100%;
		left: 0;
		margin: 0;
	}
	.banner.banner-top {
		padding: 1em;
		margin-top: 50px; 
		.play-button {
			top: 2.5em;
			width: auto;
			font-size: 100%;
		}
	}
   	/*-------------- Header and Nav -------------*/
	header {
	   height: 50px;
	   width: 100%;
	   position: relative;
	   h1 {
		   padding: 0 0 0 5%;
		   max-width: 6em;
	   	}
	   .logo {
		   //position: absolute;
		   //max-width: 65px;
		   //top: 15px;
		   //left: 27%;
		   //margin: 0;
		   display: none;
	   	}
   	}
   	
	nav {
		width:100%;
		height: auto;
		//text-align: center;
		display: none; 
		opacity: 0;
		margin-top: 50px;
		position: absolute;
		.menu {
			background-color: @ColorDark;
			height: auto;
		}
		ul {  
			padding: 0;
			margin: 0;
			li {
				display: block;
				width: 100%;
				margin: 0;
				padding: .2em 1em;
				height: auto;
				border-top: 1px #666 solid;
				.box-sizing;
				a {
					display: block;
					width: 100%;
					color: @ColorWhite;
					//padding-top: .75em;
					&:hover {
						color: @Color1;
						}
					span {
						display: inline-block !important;
						//margin-left: 4em;
						font-size: 16pt;
						font-family: Lato, sans-serif;
						text-transform: uppercase;
						vertical-align: middle;
						}
					}
				}
			}
		}
	.icon {
		background-image: none;
		height: auto !important;
	   		span {
	   		display: block;
   		}
	}
	
	.toggle { 
		display: block; 
		position: absolute;
		right: 0;
		top: 0; 
		cursor: pointer;
		width: 50px;
		height: 50px;
		z-index: 10; 
		margin: 0;
		}
	.toggle:after {
	  content: "";
	  position: absolute;
	  top: 1.2em;
	  left: 1.2em;
	  width: 1.5em;
	  height: 0.35em;
	  border-top: 1em double @ColorWhite;
	  // border-bottom: 0.25em solid @ColorWhite;
	}
	#toggle:checked + nav { 
		display: block;
		opacity: 1;
		.account-buttons { 
			display: block;
			opacity: 1;
			}
		}

	/*-------------- Login -------------*/
	.account-buttons {
		width: 100%;
		display: none;
		position: static;
		float: left;
		clear: both;
		margin-top: .5em;
		background-color: transparent;
		button {
			width: 50%;
			margin: 1em 25% 0;
			padding: .5em;
		}
		a {
			width: 100%;
			margin: 0;
			margin-top: .5em;
			font-size: 90%;
			float: left;
			text-align: left;
			padding-left: 100px;
			
		}
	}
	#profilePanel {
		//display: none;
	}
	.login-wrapper, .login-page .login-wrapper {
		width: 100%;
		margin:50px 0 0 0;
		z-index: 11; //Above Nav for mobile
	}
	.login-page {
		.login-box, .signup-box {
			width: 100%;
		}
	}
	.login-box, .signup-box {
		display: none;
		width: 100%;
		height: 100%;
		//min-height: 460px;
		z-index: 11;
		padding: 1em 2em 5em;
		
	}
	#alert.banner {
		margin: 50px 0;
		width: 100%;
	}
			
	/*-------------- Forms -------------*/


	/*-------------- Content Blocks -------------*/
	.horizontal-content {
	   display: none;
	   height: auto;
	   width: 100%;
	   h3 {
		   padding: .3em;
		   margin: 0;
	   		}
	   .section {
		   width: 100%;
		   margin: 2% 0;
		   height: auto;
		   .block {
	 		   margin: 5% 0 0;
	 		   height: auto;
	 		   width: 90%;
	 		   padding: .5em;
			   img {
				   width: 100%;
				   height: auto; 
			  		}
			  	p {
				  	font-size: 90%;
				  	padding: 0;
				  	margin: 0;
				  	width: 66%;
				  	float: left;
				  	// clear: left;
			  		}
			  	button, a.button {
				  	position: absolute;
				  	right: 0.5em;
				  	top: 40%;
				  	padding: 1%;
				  	margin: 0 0 0 0;
				  	width: auto;
				  	//max-width: 30%;
			  		}
				}
			}
	   }
	   .achievement-block {
		   min-heignt: 5.5em;
	   }
	   .column2, .column1 {
	   	width: 100% !important;
	   	padding-top: 1em;
	   	.block {
		   width: 96% !important;
		   margin: 1% 2%;
	   		}
   		}
	   .column-wide {
		   width: 100% !important;
		   padding: 1em 0 !important;
	   }
	   .game-block {
		   height: 5em;
		   div {
				padding: 2.5em 1em !important;
				width: 100%;
				}
	   }
		.game-title-wrapper {
			height: 200px;
			h2 {
				padding-top: 1em;
			}
			button {
				//bottom: 2em;
				//top: initial;
			}
		}
		
		.horizontal-content .section .block.splash-block {
			p {
			  	font-size: 90%;
			  	padding: 0;
			  	margin: 0;
			  	width: 100%;
		  		}
		  	button, a.button {
			  	position: relative;
			  	padding: .5em 1.5em;
			  	width: auto;
			  	display: inline-block;
			  	margin: 1em auto;
		  	}
		}
	/*-------------- Profile -------------*/
	
	.profile-title {
		width: 40%;
		float: left;
		h2 {
			padding-top: 0;
		}
	}
	.profile {
		a.button {
			margin-top: .5em;
			font-size: 85%;
		}
	}
	.profile-icon.sm {
		position: absolute;
		left: 30px;
		margin: 0;
		padding: 0;
		}
		
	.nav-tabs {
		width: 50%;
		float: right;
		padding: 0;
	}
	
	.side-panel {
		width: 50%;
	}
	 /*-------------- Footer -------------*/
	.about-us {
		width: 100%;
		height: auto;
		margin-top: 50px;
		p {
			padding:  1% 5%;
		}
		.footer {
			position: relative;
		}
	}
	
}


/* ==========================================================================
   10.1 Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   11.0 Common classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}